{"openapi":"3.1.0","info":{"title":"Darkstone Cloud API","description":"REST API for the Darkstone Cloud platform: container compute, virtual machines,\nencrypted volumes, S3-compatible object storage, the vector database, AI inference,\nthe DDoS-protected Cloud Gateway, billing and project management.\n\n<a href=\"/oauth2/authorization/google\" style=\"display:inline-block;background:#4285F4;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;font-weight:600;font-family:Arial,sans-serif;margin:8px 0;\">🔐 Sign in with Google</a>\n\nAfter a successful login the session cookie is automatically attached to every Swagger\nrequest (same-origin). For non-browser clients, set an API key via the **Authorize** button\nin the top right (header `X-API-Key`, format `ds_…`).\n","contact":{"name":"Darkstone Entertainment","email":"support@darkstone-entertainment.de"},"license":{"name":"Proprietary"},"version":"1.0.0"},"servers":[{"url":"https://api.darkstone.de","description":"Generated server url"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"VM Backups","description":"Incremental backups of the VM boot disk (self-service)."},{"name":"Looking Glass","description":"Public network latency diagnostics"},{"name":"Invoices","description":"Invoices, PDF export"},{"name":"Me Payment Setup","description":"Project-less card setup for provisioning"},{"name":"Billing Config","description":"Stripe publishable key for the frontend init"},{"name":"Cloud Gateways v2","description":"Host-independent public endpoints. v2 adds gateway tiers (shared/dedicated), free port/port-range selection on dedicated gateways, PROXY protocol v2 and protocol-less routes (always TCP+UDP)."},{"name":"Auth","description":"Login & current user"},{"name":"API Keys","description":"Manage the API keys of a project"},{"name":"AI Base Models","description":"Cluster-wide base models (read-only for customers)."},{"name":"Billing","description":"Billing, limits, prepaid"},{"name":"Credentials","description":"Credentials vault: API tokens, SSH keys, passwords and encryption keys with expiry dates."},{"name":"Tenant Networks","description":"Self-service virtuelle Netzwerke (VLAN/VPC) mit eigener VXLAN-VNI + IPAM. Feature-flag-gated (cloud.networks.enabled)."},{"name":"Data-Plane: AI","description":"OpenAI-compatible invocation via the cloud gateway."},{"name":"Onboarding","description":"Profile setup + campaign affiliate tracking"},{"name":"Pricing","description":"Current price catalog of all cloud products (gross, EUR)."},{"name":"Stats","description":"Resource counters for skeleton sizing"},{"name":"i18n","description":"Public translation catalogs"},{"name":"Cloud Gateways","description":"Host-independent public endpoints for cloud resources. Routes bind TCP+UDP ports to specific resources (volume, bucket, collection, ...)."},{"name":"Public Campaigns","description":"Anonymous lookups for the cookie banner"},{"name":"Account","description":"Manage your own account"},{"name":"VM Metrics","description":"CPU/RAM/network/disk history per VM."},{"name":"Project Setup","description":"Billing address + payment-method verification"},{"name":"Artificial Intelligence","description":"AIs deployed per project: text and image classifiers with embedded training data."},{"name":"Notifications","description":"Notification recipients per category"},{"name":"Roles","description":"Manage roles & permissions"},{"name":"Members","description":"Members of a project"},{"name":"Public","description":"Public, anonymous endpoints"},{"name":"Cloud Projects","description":"Manage cloud projects"},{"name":"Invitations","description":"Project invitations (shown in the UI as account notifications)"},{"name":"Virtual Machines","description":"KubeVirt-based VMs with a Cloud Volume boot disk."},{"name":"Volume Backups","description":"Incremental backups per volume (self-service)."},{"name":"Me – Limits","description":"Own resource limits + current usage."},{"name":"Volume Snapshots","description":"Longhorn snapshot management for customer recovery use cases."},{"name":"Cloud Volumes","description":"Encrypted block volumes via Longhorn, with optional SFTP access through the gateway."},{"name":"Stripe Webhook","description":"Stripe event reception"},{"name":"Cloud Volumes — File Browser","description":"Web file browser for a Cloud Volume. No gateway needed; the forwarding layer talks internally to the volumes-sftp pod that has the PVCs mounted."}],"paths":{"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}":{"get":{"tags":["Cloud Gateways v2"],"operationId":"get","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}},"put":{"tags":["Cloud Gateways v2"],"operationId":"rename","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameGatewayRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}},"delete":{"tags":["Cloud Gateways v2"],"operationId":"delete","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}":{"put":{"tags":["Cloud Gateways v2"],"operationId":"updateRoute","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRouteRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}},"delete":{"tags":["Cloud Gateways v2"],"operationId":"deleteRoute","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate":{"put":{"tags":["Cloud Gateways v2"],"summary":"Upload/replace your own TLS certificate (CUSTOM mode, no auto-renewal)","operationId":"uploadCertificate","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"cert":{"type":"string","format":"binary"},"key":{"type":"string","format":"binary"}},"required":["cert","key"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"/api/v1/projects/{projectUuid}":{"get":{"tags":["Cloud Projects"],"summary":"Project details","operationId":"get_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}},"put":{"tags":["Cloud Projects"],"summary":"Rename a project","operationId":"update","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}},"delete":{"tags":["Cloud Projects"],"summary":"Delete a project (owner only, with name confirmation)","operationId":"delete_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"confirmName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/permissions":{"put":{"tags":["Cloud Volumes"],"operationId":"updateUserPermissions","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/password":{"put":{"tags":["Cloud Volumes"],"operationId":"setUserPassword","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/enabled":{"put":{"tags":["Cloud Volumes"],"operationId":"setUserEnabled","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnabledRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/credential":{"put":{"tags":["Cloud Volumes"],"operationId":"setUserCredential","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/replication":{"put":{"tags":["Cloud Volumes"],"summary":"Update the replication locations","operationId":"updateReplication","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplicationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups/schedule":{"get":{"tags":["Volume Backups"],"summary":"Read the volume backup automation (interval in hours, 0 = off)","operationId":"getSchedule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}},"put":{"tags":["Volume Backups"],"summary":"Set the backup automation (customer-controlled; 0 = off). Each automatic backup is charged the 3% creation fee.","operationId":"setSchedule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/anonymous-access":{"put":{"tags":["Cloud Volumes"],"operationId":"updateAnonymous","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnonymousAccessRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/resize":{"put":{"tags":["Virtual Machines"],"summary":"Resize a VM (vCPU class/count + RAM)","operationId":"resize","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResizeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/data-volumes":{"put":{"tags":["Virtual Machines"],"summary":"Update the mounted data volumes (the VM must be stopped)","operationId":"updateDataVolumes","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDataVolumesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/boot-replication":{"put":{"tags":["Virtual Machines"],"summary":"Update the replication sites of the boot disk","operationId":"updateBootReplication","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBootReplicationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups/schedule":{"get":{"tags":["VM Backups"],"summary":"Read the VM boot-disk backup automation (interval in hours, 0 = off)","operationId":"getSchedule_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}},"put":{"tags":["VM Backups"],"summary":"Set the VM boot-disk backup automation (customer-controlled; 0 = off, 3% per automatic backup)","operationId":"setSchedule_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/api/v1/projects/{projectUuid}/setup/billing":{"put":{"tags":["Project Setup"],"summary":"Save the billing address + customer type on the project","operationId":"saveBilling","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingSetupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SetupStatusDto"}}}}}}},"/api/v1/projects/{projectUuid}/roles/{roleUuid}":{"put":{"tags":["Roles"],"summary":"Rename a role","operationId":"rename_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"delete":{"tags":["Roles"],"summary":"Delete a role","operationId":"delete_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/roles/{roleUuid}/permissions":{"put":{"tags":["Roles"],"summary":"Set the permissions of a role","operationId":"updatePermissions","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Role"}}}}}}},"/api/v1/projects/{projectUuid}/notifications/{category}":{"get":{"tags":["Notifications"],"summary":"Configuration of a single category","operationId":"get_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"category","in":"path","required":true,"schema":{"type":"string","enum":["SECURITY","BILLING"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationConfig"}}}}}},"put":{"tags":["Notifications"],"summary":"Replace the recipients of a category","operationId":"setTargets","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"category","in":"path","required":true,"schema":{"type":"string","enum":["SECURITY","BILLING"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationConfig"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/transfer-lock":{"put":{"tags":["Domains"],"summary":"Toggle registrar transfer lock","operationId":"transferLock","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/privacy":{"put":{"tags":["Domains"],"summary":"Toggle WHOIS privacy","operationId":"privacy","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/nameservers":{"put":{"tags":["Domains"],"summary":"Set nameservers (custom list, or delegate to our cloud-dns)","operationId":"setNameservers","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameserverRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/dns":{"get":{"tags":["Domains"],"summary":"List DNS records","operationId":"getRecords","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}},"put":{"tags":["Domains"],"summary":"Replace all DNS records","operationId":"setRecords","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsRecordsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/contacts":{"put":{"tags":["Domains"],"summary":"Set registrant/admin/tech/billing contact IDs","operationId":"setContacts","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactIdsRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/auto-renew":{"put":{"tags":["Domains"],"summary":"Toggle auto-renew","operationId":"autoRenew","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/credentials/{credentialUuid}":{"put":{"tags":["Credentials"],"summary":"Update a credential (name, notes, username, expiry)","operationId":"update_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Credential"}}}}}},"delete":{"tags":["Credentials"],"summary":"Delete a credential","operationId":"delete_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/credentials/{credentialUuid}/secret":{"put":{"tags":["Credentials"],"summary":"Rotate the secret","operationId":"rotateSecret","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotateSecretRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Credential"}}}}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}":{"get":{"tags":["Cloud Gateways"],"operationId":"get_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDto"}}}}}},"put":{"tags":["Cloud Gateways"],"operationId":"rename_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameGatewayRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDto"}}}}}},"delete":{"tags":["Cloud Gateways"],"operationId":"delete_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}":{"put":{"tags":["Cloud Gateways"],"operationId":"updateRoute_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRouteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDto"}}}}}},"delete":{"tags":["Cloud Gateways"],"operationId":"deleteRoute_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate":{"put":{"tags":["Cloud Gateways"],"summary":"Upload/replace your own TLS certificate (CUSTOM mode, no auto-renewal)","operationId":"uploadCertificate_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"cert":{"type":"string","format":"binary"},"key":{"type":"string","format":"binary"}},"required":["cert","key"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDto"}}}}}}},"/api/v1/projects/{projectUuid}/billing/limits/{serviceType}":{"put":{"tags":["Billing"],"summary":"Set the limit for a service","operationId":"setLimit","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"serviceType","in":"path","required":true,"schema":{"type":"string","enum":["AI_INVOKE","AI_TRAINING_STORAGE","VECTORDB_STORAGE","VECTORDB_SEARCH","VECTORDB_WRITE","OBJECT_STORAGE_STORAGE","VOLUMES_STORAGE","VOLUMES_TRAFFIC_OUT","VOLUMES_MIRROR_REPLICA","VOLUMES_BACKUP_STORAGE","VOLUMES_BACKUP_OPERATION","CLOUDGATE_BASE","CLOUDGATE_BASE_DEDICATED","CLOUDGATE_TRAFFIC_OUT","CLOUDGATE_TRAFFIC_IN","CLOUDGATE_ROUTE","COMPUTE_VCPU_LC1","COMPUTE_VCPU_LC2","COMPUTE_VCPU_LC3","COMPUTE_VCPU_MC1","COMPUTE_VCPU_MC2","COMPUTE_VCPU_MC3","COMPUTE_VCPU_HC1","COMPUTE_RAM","COMPUTE_IMAGE_STORAGE","VM_VCPU_LC1","VM_VCPU_LC2","VM_VCPU_LC3","VM_VCPU_MC1","VM_VCPU_MC2","VM_VCPU_MC3","VM_VCPU_HC1","VM_RAM","VM_BOOT_STORAGE","VM_BOOT_MIRROR_REPLICA","REGISTRY_STORAGE","DOMAIN_REGISTER","DOMAIN_RENEW","DOMAIN_TRANSFER","DOMAIN_RESTORE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LimitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BillingLimit"}}}}}}},"/api/v1/projects/{projectUuid}/billing/auto-recharge":{"get":{"tags":["Billing"],"summary":"Auto-recharge configuration of the project","operationId":"getAutoRecharge","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoRechargeConfig"}}}}}},"put":{"tags":["Billing"],"summary":"Configure auto-recharge. Requires a saved payment method (created on the first top-up).","operationId":"setAutoRecharge","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoRechargeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoRechargeConfig"}}}}}}},"/api/v1/projects/{projectUuid}/billing-profile":{"get":{"tags":["Cloud Projects"],"summary":"Billing profile of the project (company, VAT ID, address, contact)","operationId":"getBillingProfile","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BillingProfileDto"}}}}}},"put":{"tags":["Cloud Projects"],"summary":"Update the billing profile of the project (company/VAT ID/address/contact)","operationId":"updateBillingProfile","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}}},"/api/v1/projects/{projectUuid}/api-keys/{apiKeyUuid}":{"put":{"tags":["API Keys"],"summary":"Rename an API key","operationId":"rename_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"apiKeyUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDto"}}}}}},"delete":{"tags":["API Keys"],"summary":"Revoke an API key","operationId":"revoke","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"apiKeyUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/api-keys/{apiKeyUuid}/permissions":{"put":{"tags":["API Keys"],"summary":"Change the permissions of an API key","operationId":"updatePermissions_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"apiKeyUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDto"}}}}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}":{"put":{"tags":["Artificial Intelligence"],"summary":"Rename an AI","operationId":"rename_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeployedAi"}}}}}},"delete":{"tags":["Artificial Intelligence"],"summary":"Delete an AI including its training data","operationId":"delete_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}/training/{entryUuid}":{"put":{"tags":["Artificial Intelligence"],"summary":"Update a training entry","operationId":"updateTraining","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"entryUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrainingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrainingEntry"}}}}}},"delete":{"tags":["Artificial Intelligence"],"summary":"Delete a training entry","operationId":"deleteTraining","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"entryUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/me/onboarding":{"get":{"tags":["Onboarding"],"summary":"Current profile setup and onboarding status","operationId":"status","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingStatusDto"}}}}},"security":[{"session":[]}]},"put":{"tags":["Onboarding"],"summary":"Save profile data; creates the user on first onboarding","operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingStatusDto"}}}}},"security":[{"session":[]}]}},"/api/v1/me/legal/accept":{"put":{"tags":["Onboarding"],"summary":"Accept the current legal version (versioned re-accept gate)","operationId":"acceptLegal","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LegalAcceptResultDto"}}}}},"security":[{"session":[]}]}},"/api/v1/account":{"put":{"tags":["Account"],"summary":"Edit your own account (display name). Email = Google identity, not changeable.","operationId":"updateAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Account"],"summary":"Irreversibly delete your own account (with email confirmation)","operationId":"deleteAccount","parameters":[{"name":"confirmEmail","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/account/profile":{"put":{"tags":["Account"],"summary":"Change the personal address of your own account (NOT the billing address — that is per project)","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/account/locale":{"put":{"tags":["Account"],"summary":"Save the preferred language (controls the language of system emails)","operationId":"updateLocale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocaleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/data/v1/ai/v1/chat/completions":{"post":{"tags":["Data-Plane: AI"],"summary":"Classification (OpenAI Chat Completions compatible)","operationId":"chatCompletion","parameters":[{"name":"X-Cloudgate-Target-Resource","in":"header","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Cloudgate-Route","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates":{"get":{"tags":["Cloud Gateways v2"],"operationId":"list","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}}},"post":{"tags":["Cloud Gateways v2"],"operationId":"create","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGatewayRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes":{"get":{"tags":["Cloud Gateways v2"],"operationId":"listRoutes","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"post":{"tags":["Cloud Gateways v2"],"operationId":"createRoute","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRouteRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate/managed":{"post":{"tags":["Cloud Gateways v2"],"summary":"Switch back to a managed Let's Encrypt certificate (with auto-renewal)","operationId":"useManagedCertificate","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"/api/v1/public/looking-glass/check":{"post":{"tags":["Looking Glass"],"summary":"Latency measurement (uplink/downlink/ping) to a public remote IP. 1 measurement per 5s per IP; reloading during the cooldown extends it.","operationId":"check","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/projects":{"get":{"tags":["Cloud Projects"],"summary":"All projects of the user","operationId":"list_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudProject"}}}}}}},"post":{"tags":["Cloud Projects"],"summary":"Create a new project","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}}},"/api/v1/projects/{projectUuid}/volumes":{"get":{"tags":["Cloud Volumes"],"summary":"List the volumes of the project","operationId":"list_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"post":{"tags":["Cloud Volumes"],"summary":"Create a volume (with mandatory encryption + hidden shadow replica)","operationId":"create_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVolumeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users":{"get":{"tags":["Cloud Volumes"],"operationId":"listUsers","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"post":{"tags":["Cloud Volumes"],"operationId":"createUser","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/snapshots":{"get":{"tags":["Volume Snapshots"],"summary":"List the snapshots of a volume","operationId":"list_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SnapshotInfo"}}}}}}},"post":{"tags":["Volume Snapshots"],"summary":"Create a manual snapshot (e.g. before a risky operation)","operationId":"create_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSnapshotRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/snapshots/{snapshotName}/restore":{"post":{"tags":["Volume Snapshots"],"summary":"In-place revert to a snapshot — the volume is briefly unavailable","operationId":"restore","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"snapshotName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/upload":{"post":{"tags":["Cloud Volumes — File Browser"],"summary":"Upload a file (multipart)","operationId":"upload","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"path","in":"query","required":true,"schema":{"type":"string"}},{"name":"overwrite","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileEntry"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/rename":{"post":{"tags":["Cloud Volumes — File Browser"],"summary":"Rename or move a file/directory","operationId":"rename_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileEntry"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/mkdir":{"post":{"tags":["Cloud Volumes — File Browser"],"summary":"Create a directory","operationId":"mkdir","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"path","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileEntry"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups":{"get":{"tags":["Volume Backups"],"summary":"List the backups of a volume","operationId":"list_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BackupInfo"}}}}}}},"post":{"tags":["Volume Backups"],"summary":"Create an incremental backup","operationId":"create_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBackupRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups/{backupName}/restore":{"post":{"tags":["Volume Backups"],"summary":"Restore a backup into a NEW volume (includes a 3% restore fee)","operationId":"restore_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"backupName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines":{"get":{"tags":["Virtual Machines"],"summary":"List the VMs of the project","operationId":"list_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"post":{"tags":["Virtual Machines"],"summary":"Create a VM","operationId":"create_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/stop":{"post":{"tags":["Virtual Machines"],"summary":"Stop a VM","operationId":"stop","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/start":{"post":{"tags":["Virtual Machines"],"summary":"Start a VM","operationId":"start","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/reinstall":{"post":{"tags":["Virtual Machines"],"summary":"Reinstall a VM (overwrite the OS image)","operationId":"reinstall","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups":{"get":{"tags":["VM Backups"],"summary":"List the VM boot-disk backups","operationId":"list_6","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BackupInfo"}}}}}}},"post":{"tags":["VM Backups"],"summary":"Create an incremental backup of the VM boot disk","operationId":"create_6","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBackupRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups/{backupName}/restore":{"post":{"tags":["VM Backups"],"summary":"Restore a VM boot backup into a NEW volume (includes a 3% restore fee)","operationId":"restore_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"backupName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/apply-resize":{"post":{"tags":["Virtual Machines"],"summary":"Apply a pending resize by restarting","operationId":"applyResize","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/transfer":{"post":{"tags":["Cloud Projects"],"summary":"Transfer ownership","operationId":"transfer","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/roles":{"get":{"tags":["Roles"],"summary":"All roles of the project","operationId":"list_7","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}}},"post":{"tags":["Roles"],"summary":"Create a role","operationId":"create_7","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Role"}}}}}}},"/api/v1/projects/{projectUuid}/roles/{roleUuid}/assignments/{userUuid}":{"post":{"tags":["Roles"],"summary":"Assign a role to a user","operationId":"assign","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Roles"],"summary":"Remove a role from a user","operationId":"unassign","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/networks":{"get":{"tags":["Tenant Networks"],"summary":"Netzwerke des Projekts auflisten","operationId":"list_8","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TenantNetworkDto"}}}}}}},"post":{"tags":["Tenant Networks"],"summary":"Ein Netzwerk anlegen","operationId":"create_8","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantNetworkDto"}}}}}}},"/api/v1/projects/{projectUuid}/networks/{networkUuid}/attachments":{"get":{"tags":["Tenant Networks"],"summary":"Angehaengte VMs eines Netzwerks auflisten","operationId":"listAttachments","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}}}}},"post":{"tags":["Tenant Networks"],"summary":"Eine VM in das Netzwerk haengen (MOVE-Semantik)","description":"Eine VM ist in HOECHSTENS einem Netz. Haengt die VM schon in einem anderen Netz, wird sie dorthin VERSCHOBEN (erst aus dem alten getrennt, dann ins neue gehaengt) — danach ist sie in genau diesem Netz. Idempotent, wenn sie schon hier haengt. Doppelter IDOR-Guard (Netz UND VM muessen zum Pfad-Projekt gehoeren). KubeVirt uebernimmt das geaenderte Secondary-Interface erst beim VMI-Neustart → restartRequired=true signalisiert 'pending restart'.","operationId":"attach","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentDto"}}}}}}},"/api/v1/projects/{projectUuid}/leave":{"post":{"tags":["Cloud Projects"],"summary":"Leave a project (remove your own membership, non-owners only)","operationId":"leave","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/projects/{projectUuid}/invitations":{"get":{"tags":["Invitations"],"summary":"Pending/completed invitations of the project (admin)","operationId":"list_9","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvitationDto"}}}}}}},"post":{"tags":["Invitations"],"summary":"Invite someone to the project — the invitee is notified by account email","operationId":"create_9","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvitationDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains":{"get":{"tags":["Domains"],"summary":"List the project's registered domains","operationId":"list_10","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"post":{"tags":["Domains"],"summary":"Register a domain (charged after success)","operationId":"register","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/restore":{"post":{"tags":["Domains"],"summary":"Restore a redemption domain (expensive — charged after success)","operationId":"restore_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/renew":{"post":{"tags":["Domains"],"summary":"Renew a domain (charged after success)","operationId":"renew","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/transfer":{"post":{"tags":["Domains"],"summary":"Transfer-in a domain with auth code (charged after transfer completes)","operationId":"transferIn","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferInRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/contacts":{"get":{"tags":["Domains"],"summary":"List the project's reusable contact profiles","operationId":"listContacts","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactProfileDto"}}}}}}},"post":{"tags":["Domains"],"summary":"Create a reusable contact profile → contactId","operationId":"createContact","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainContactImpl"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactProfileDto"}}}}}}},"/api/v1/projects/{projectUuid}/credentials":{"get":{"tags":["Credentials"],"summary":"All credentials of the project (paginated)","operationId":"list_11","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseCredential"}}}}}},"post":{"tags":["Credentials"],"summary":"Create a credential","operationId":"create_10","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Credential"}}}}}}},"/api/v1/projects/{projectUuid}/cloudgates":{"get":{"tags":["Cloud Gateways"],"operationId":"list_12","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GatewayDto"}}}}}}},"post":{"tags":["Cloud Gateways"],"operationId":"create_11","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGatewayRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDto"}}}}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes":{"get":{"tags":["Cloud Gateways"],"operationId":"listRoutes_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RouteDto"}}}}}}},"post":{"tags":["Cloud Gateways"],"operationId":"createRoute_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRouteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDto"}}}}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate/managed":{"post":{"tags":["Cloud Gateways"],"summary":"Switch back to a managed Let's Encrypt certificate (with auto-renewal)","operationId":"useManagedCertificate_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDto"}}}}}}},"/api/v1/projects/{projectUuid}/billing/prepaid/topup":{"post":{"tags":["Billing"],"summary":"[DEPRECATED] Legacy Stripe-hosted checkout (redirect). The frontend uses /prepaid/payment-intent for embedded Elements.","operationId":"topUp","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopUpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/api/v1/projects/{projectUuid}/billing/prepaid/payment-intent":{"post":{"tags":["Billing"],"summary":"Create a PaymentIntent for a Stripe Elements top-up. Returns the clientSecret with which the Stripe Elements form confirms the intent.","operationId":"createTopUpPaymentIntent","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopUpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopUpIntent"}}}}}}},"/api/v1/projects/{projectUuid}/billing/prepaid/confirm/{paymentIntentId}":{"post":{"tags":["Billing"],"summary":"Server-side confirmation after the client confirm: books the balance + creates the invoice + saves the payment-method ID. Idempotent (Stripe invoice ID lookup).","operationId":"confirmTopUp","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"paymentIntentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/billing/prepaid/checkout-session":{"post":{"tags":["Billing"],"summary":"Embedded checkout session (EWCS) for a prepaid top-up. The frontend mounts <EmbeddedCheckoutProvider clientSecret={...}> — Stripe handles all payment methods + 3DS automatically. The balance is booked via the checkout.session.completed webhook.","operationId":"createTopUpCheckoutSession","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopUpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckoutSession"}}}}}}},"/api/v1/projects/{projectUuid}/billing/prepaid/charge":{"post":{"tags":["Billing"],"summary":"One-click top-up with the saved payment method (off-session). The frontend shows clientSecret only if Stripe requires 3DS.","operationId":"chargeWithSavedMethod","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopUpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopUpIntent"}}}}}}},"/api/v1/projects/{projectUuid}/billing/payment-method/recover":{"post":{"tags":["Billing"],"summary":"Last-resort recovery: scans Stripe for succeeded SetupIntents/payment methods for the customer and saves the latest one on the billing account. Used when neither the webhook nor the direct confirm succeeded. Idempotent.","operationId":"recoverPaymentMethod","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"boolean"}}}}}}}},"/api/v1/projects/{projectUuid}/billing/payment-method/checkout-session":{"post":{"tags":["Billing"],"summary":"Embedded checkout session (EWCS) in mode=setup to add a card without charging. Counterpart to /payment-method/setup-intent for the new EWCS flow.","operationId":"createSetupCheckoutSession","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckoutSession"}}}}}}},"/api/v1/projects/{projectUuid}/billing/payment-method/checkout-session/{sessionId}/confirm":{"post":{"tags":["Billing"],"summary":"Bypass for the EWCS flow (mode=setup): after onComplete the frontend calls with the sessionId; the backend retrieves the session from Stripe, extracts the SetupIntent ID and saves the payment method. Idempotent.","operationId":"confirmSetupCheckoutSession","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/api-keys":{"get":{"tags":["API Keys"],"summary":"All API keys of the project","operationId":"list_13","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeyDto"}}}}}}},"post":{"tags":["API Keys"],"summary":"Create an API key (plaintext secret is shown only once)","operationId":"create_12","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/projects/{projectUuid}/ai":{"get":{"tags":["Artificial Intelligence"],"summary":"All AIs deployed in the project","operationId":"list_14","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeployedAi"}}}}}}},"post":{"tags":["Artificial Intelligence"],"summary":"Deploy a new AI – optionally with a base model as the starting point. If baseModelLabels is set, only training entries with those labels are inherited from the base model (platform users may not see the contents, but they choose which classification classes they want).","operationId":"deploy","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeployedAi"}}}}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}/training":{"get":{"tags":["Artificial Intelligence"],"summary":"List the training data of the AI — paginated (default 10/page)","operationId":"listTraining","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrainingPage"}}}}}},"post":{"tags":["Artificial Intelligence"],"summary":"Add a training entry","operationId":"addTraining","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrainingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrainingEntry"}}}}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}/training/import":{"post":{"tags":["Artificial Intelligence"],"summary":"Import training data from a CSV. Expected format: a 'label,payload' header row. For image classifiers, payload contains the base64-encoded byte stream of the image file.","operationId":"importTraining","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImportResult"}}}}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}/invoke":{"post":{"tags":["Artificial Intelligence"],"summary":"Test an AI from the dashboard (rate-limited). Production calls go through the cloud gateways.","operationId":"invoke","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvokeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvokeResponse"}}}}}}},"/api/v1/projects/provision":{"get":{"tags":["Cloud Projects"],"operationId":"provisionIsPostOnly","responses":{"200":{"description":"OK"}}},"post":{"tags":["Cloud Projects"],"summary":"Atomically create a project — only AFTER a verified card. Creates the project + billing account + address + payment method and finalizes it (setupCompleted + starting credit) in one step. Nothing exists beforehand.","operationId":"provision","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}}},"/api/v1/me/setup/payment-method/checkout-session":{"post":{"tags":["Me Payment Setup"],"summary":"Embedded SETUP checkout (card-only) against the user-level Stripe customer — without a project.","operationId":"createSetupCheckoutSession_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckoutSession"}}}}}}},"/api/v1/me/setup/payment-method/checkout-session/{sessionId}/confirm":{"post":{"tags":["Me Payment Setup"],"summary":"Synchronously confirm the card after onComplete and save it on the user (independent of the webhook).","operationId":"confirm","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/me/campaign-affiliate":{"post":{"tags":["Onboarding"],"summary":"Attribute a campaign code from the affiliate cookie to the user","operationId":"assign_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AffiliateResultDto"}}}}},"security":[{"session":[]}]}},"/api/v1/invitations/{invitationUuid}/decline":{"post":{"tags":["Invitations"],"summary":"Decline an invitation (only the invited account email)","operationId":"decline","parameters":[{"name":"invitationUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvitationDto"}}}}}}},"/api/v1/invitations/{invitationUuid}/accept":{"post":{"tags":["Invitations"],"summary":"Accept an invitation (only the invited account email)","operationId":"accept","parameters":[{"name":"invitationUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvitationDto"}}}}}}},"/api/v1/billing/stripe/webhook":{"post":{"tags":["Stripe Webhook"],"summary":"Stripe webhook endpoint","operationId":"webhook","parameters":[{"name":"Stripe-Signature","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/stats":{"get":{"tags":["Cloud Gateways v2"],"summary":"Live statistics: per-minute traffic (60-minute window) + total + route count","operationId":"stats","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayStatsDto"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/stats/live":{"get":{"tags":["Cloud Gateways v2"],"summary":"Live counter: cumulative all-time traffic (O(1) read, for 2s polling)","operationId":"statsLive","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayLiveDto"}}}}}}},"/api/v1/public/regions":{"get":{"tags":["Public"],"summary":"Active cloud regions (display source of truth = admin dashboard)","operationId":"list_15","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegionView"}}}}}}}},"/api/v1/public/looking-glass/ping":{"get":{"tags":["Looking Glass"],"summary":"Tiny no-op for client-side RTT timing (type=self). 204, no-store. Reports the server processing time via Server-Timing so the client can subtract it from TTFB.","operationId":"ping","responses":{"200":{"description":"OK"}}}},"/api/v1/public/i18n/{locale}":{"get":{"tags":["i18n"],"summary":"Flat translation catalog {key→text} for a locale","operationId":"catalog","parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/public/i18n/locales":{"get":{"tags":["i18n"],"summary":"Available (enabled) languages","operationId":"locales","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LocaleDto"}}}}}}}},"/api/v1/public/campaigns/by-code/{code}":{"get":{"tags":["Public Campaigns"],"summary":"Does this code exist, and what credit is associated with it?","operationId":"lookup","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignPublicView"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}":{"get":{"tags":["Cloud Volumes"],"operationId":"get_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeDto"}}}}}},"delete":{"tags":["Cloud Volumes"],"operationId":"delete_6","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files":{"get":{"tags":["Cloud Volumes — File Browser"],"summary":"List a directory","operationId":"list_16","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"path","in":"query","required":false,"schema":{"type":"string","default":"/"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DirectoryListing"}}}}}},"delete":{"tags":["Cloud Volumes — File Browser"],"summary":"Delete a file or directory","operationId":"delete_7","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"path","in":"query","required":true,"schema":{"type":"string"}},{"name":"recursive","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/download":{"get":{"tags":["Cloud Volumes — File Browser"],"summary":"Download a file","operationId":"download","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"path","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/sites":{"get":{"tags":["Cloud Volumes"],"summary":"Locations available in the cluster","operationId":"sites","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}":{"get":{"tags":["Virtual Machines"],"summary":"VM details","operationId":"get_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}},"delete":{"tags":["Virtual Machines"],"summary":"Delete a VM","operationId":"delete_8","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/metrics":{"get":{"tags":["VM Metrics"],"summary":"Metrics history (in-memory, max ~1h)","operationId":"get_6","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetricsResponse"}}}}}}},"/api/v1/projects/{projectUuid}/stats":{"get":{"tags":["Stats"],"summary":"Permission-based resource counters of a project","operationId":"projectStats","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}}}}}},"/api/v1/projects/{projectUuid}/setup":{"get":{"tags":["Project Setup"],"summary":"Current setup status (address, payment method, completed flag)","operationId":"status_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SetupStatusDto"}}}}}}},"/api/v1/projects/{projectUuid}/roles/permissions/catalog":{"get":{"tags":["Roles"],"summary":"List of all available permissions","operationId":"catalog_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["PROJECT_VIEW","PROJECT_UPDATE","PROJECT_DELETE","PROJECT_TRANSFER","MEMBER_VIEW","MEMBER_INVITE","MEMBER_REMOVE","MEMBER_ROLE_ASSIGN","ROLE_VIEW","ROLE_CREATE","ROLE_UPDATE","ROLE_DELETE","INVITATION_VIEW","INVITATION_CREATE","INVITATION_REVOKE","API_KEY_VIEW","API_KEY_CREATE","API_KEY_UPDATE","API_KEY_DELETE","BILLING_VIEW","BILLING_LIMIT_VIEW","BILLING_LIMIT_SET","BILLING_PAYMENT_METHOD_UPDATE","INVOICE_VIEW","INVOICE_DOWNLOAD","AI_VIEW","AI_DEPLOY","AI_UPDATE","AI_DELETE","AI_TRAINING_EDIT","AI_INVOKE","NOTIFICATION_CONFIG_VIEW","NOTIFICATION_CONFIG_UPDATE","CREDENTIAL_VIEW","CREDENTIAL_CREATE","CREDENTIAL_UPDATE","CREDENTIAL_DELETE","CREDENTIAL_USE","VECTORDB_VIEW","VECTORDB_COLLECTION_CREATE","VECTORDB_COLLECTION_UPDATE","VECTORDB_COLLECTION_DELETE","VECTORDB_POINTS_READ","VECTORDB_POINTS_WRITE","VECTORDB_SEARCH","OBJECT_STORAGE_VIEW","OBJECT_STORAGE_BUCKET_CREATE","OBJECT_STORAGE_BUCKET_DELETE","OBJECT_STORAGE_BUCKET_CONFIGURE","OBJECT_STORAGE_OBJECT_READ","OBJECT_STORAGE_OBJECT_WRITE","OBJECT_STORAGE_OBJECT_DELETE","OBJECT_STORAGE_CREDENTIAL_MANAGE","VOLUMES_VIEW","VOLUMES_CREATE","VOLUMES_UPDATE","VOLUMES_DELETE","VOLUMES_USER_MANAGE","SUPPORT_VIEW","SUPPORT_CREATE","SUPPORT_WRITE","SUPPORT_MANAGE","CLOUDGATE_VIEW","CLOUDGATE_CREATE","CLOUDGATE_UPDATE","CLOUDGATE_DELETE","CLOUDGATE_ROUTE_VIEW","CLOUDGATE_ROUTE_MANAGE","VM_VIEW","VM_CREATE","VM_UPDATE","VM_DELETE","VM_CONSOLE","APPLICATION_VIEW","APPLICATION_CREATE","APPLICATION_UPDATE","APPLICATION_DELETE","APPLICATION_VERSION_CREATE","REGISTRY_VIEW","REGISTRY_ROBOT_MANAGE","REGISTRY_IMAGE_DELETE","DOMAIN_VIEW","DOMAIN_MANAGE"]},"uniqueItems":true}}}}}}},"/api/v1/projects/{projectUuid}/notifications":{"get":{"tags":["Notifications"],"summary":"All notification configurations of the project","operationId":"list_17","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationConfig"}}}}}}}},"/api/v1/projects/{projectUuid}/networks/{networkUuid}":{"get":{"tags":["Tenant Networks"],"summary":"Netzwerk-Details","operationId":"get_7","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantNetworkDto"}}}}}},"delete":{"tags":["Tenant Networks"],"summary":"Ein Netzwerk loeschen","operationId":"delete_9","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/members":{"get":{"tags":["Members"],"summary":"All members with their roles","operationId":"list_18","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/api/v1/projects/{projectUuid}/me/permissions":{"get":{"tags":["Cloud Projects"],"summary":"Effective permissions of the current user in this project","operationId":"myPermissions","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/invoices":{"get":{"tags":["Invoices"],"summary":"Invoices (paginated, newest first). Default: 10 per page, max 100.","operationId":"list_19","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoicePage"}}}}}}},"/api/v1/projects/{projectUuid}/invoices/{invoiceUuid}":{"get":{"tags":["Invoices"],"summary":"Invoice details","operationId":"get_8","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"invoiceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Invoice"}}}}}}},"/api/v1/projects/{projectUuid}/invoices/{invoiceUuid}/pdf":{"get":{"tags":["Invoices"],"summary":"Download an invoice as PDF","operationId":"downloadPdf","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"invoiceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}":{"get":{"tags":["Domains"],"summary":"Domain detail (lock/privacy/verification)","operationId":"detail","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/transfer":{"get":{"tags":["Domains"],"summary":"Transfer-in status (registry-paced)","operationId":"transferStatus","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferStatus"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/auth-code":{"get":{"tags":["Domains"],"summary":"Get EPP/auth code for transfer-out (sensitive, never logged)","operationId":"authCode","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthCode"}}}}}}},"/api/v1/projects/{projectUuid}/domains/quote":{"get":{"tags":["Domains"],"summary":"Sell-price quote incl. markup (op=register|renew|transfer|restore)","operationId":"quote","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"op","in":"query","required":false,"schema":{"type":"string","default":"register"}},{"name":"years","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1,"maximum":10,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuoteDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/availability":{"get":{"tags":["Domains"],"summary":"Check domain availability (cached) incl. sell price (markup)","operationId":"availability","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"q","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AvailabilityDto"}}}}}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/stats":{"get":{"tags":["Cloud Gateways"],"summary":"Live statistics: per-minute traffic (60-minute window) + total + route count","operationId":"stats_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayStatsDto"}}}}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/stats/live":{"get":{"tags":["Cloud Gateways"],"summary":"Live counter: cumulative all-time traffic (O(1) read, for 2s polling)","operationId":"statsLive_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayLiveDto"}}}}}}},"/api/v1/projects/{projectUuid}/billing/usage/timeseries":{"get":{"tags":["Billing"],"summary":"Daily usage series for charts. One bucket per day with amounts per ServiceType. months=N goes back N-1 months up to today (default 1).","operationId":"usageTimeseries","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"months","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/api/v1/projects/{projectUuid}/billing/stripe-info":{"get":{"tags":["Billing"],"summary":"Stripe configuration status (for the test-mode banner)","operationId":"stripeInfo","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/projects/{projectUuid}/billing/spend/{serviceType}":{"get":{"tags":["Billing"],"summary":"Current month-to-date usage","operationId":"getSpend","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"serviceType","in":"path","required":true,"schema":{"type":"string","enum":["AI_INVOKE","AI_TRAINING_STORAGE","VECTORDB_STORAGE","VECTORDB_SEARCH","VECTORDB_WRITE","OBJECT_STORAGE_STORAGE","VOLUMES_STORAGE","VOLUMES_TRAFFIC_OUT","VOLUMES_MIRROR_REPLICA","VOLUMES_BACKUP_STORAGE","VOLUMES_BACKUP_OPERATION","CLOUDGATE_BASE","CLOUDGATE_BASE_DEDICATED","CLOUDGATE_TRAFFIC_OUT","CLOUDGATE_TRAFFIC_IN","CLOUDGATE_ROUTE","COMPUTE_VCPU_LC1","COMPUTE_VCPU_LC2","COMPUTE_VCPU_LC3","COMPUTE_VCPU_MC1","COMPUTE_VCPU_MC2","COMPUTE_VCPU_MC3","COMPUTE_VCPU_HC1","COMPUTE_RAM","COMPUTE_IMAGE_STORAGE","VM_VCPU_LC1","VM_VCPU_LC2","VM_VCPU_LC3","VM_VCPU_MC1","VM_VCPU_MC2","VM_VCPU_MC3","VM_VCPU_HC1","VM_RAM","VM_BOOT_STORAGE","VM_BOOT_MIRROR_REPLICA","REGISTRY_STORAGE","DOMAIN_REGISTER","DOMAIN_RENEW","DOMAIN_TRANSFER","DOMAIN_RESTORE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/projects/{projectUuid}/billing/prepaid/balance":{"get":{"tags":["Billing"],"summary":"Current prepaid balance","operationId":"getPrepaidBalance","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/projects/{projectUuid}/billing/payment-method":{"get":{"tags":["Billing"],"summary":"Saved default payment method (brand + last4 + expiry). null if none is on file.","operationId":"getSavedPaymentMethod","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedPaymentMethod"}}}}}},"delete":{"tags":["Billing"],"summary":"Remove the saved payment method (detached at Stripe). Auto-recharge is disabled automatically.","operationId":"removeSavedPaymentMethod","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/billing/limits":{"get":{"tags":["Billing"],"summary":"All limits of the project","operationId":"listLimits","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BillingLimit"}}}}}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}/training/labels":{"get":{"tags":["Artificial Intelligence"],"summary":"Distinct labels of the existing training data","operationId":"listTrainingLabels","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v1/p
[...]
