{"openapi":"3.1.0","info":{"title":"Darkstone Cloud API","description":"REST API for the Darkstone Cloud platform: container compute, virtual machines,\nencrypted volumes, S3-compatible object storage, the vector database, AI inference,\nthe DDoS-protected Cloud Gateway, billing and project management.\n\n<a href=\"/oauth2/authorization/google\" style=\"display:inline-block;background:#4285F4;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;font-weight:600;font-family:Arial,sans-serif;margin:8px 0;\">🔐 Sign in with Google</a>\n\nAfter a successful login the session cookie is automatically attached to every Swagger\nrequest (same-origin). For non-browser clients, set an API key via the **Authorize** button\nin the top right (header `X-API-Key`, format `ds_…`).\n","contact":{"name":"Darkstone Entertainment","email":"support@darkstone-entertainment.de"},"license":{"name":"Proprietary"},"version":"1.0.0"},"servers":[{"url":"https://api.darkstone.de","description":"Generated server url"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"Contracts (project)","description":"Per-project PRODUCT contract acceptance + revoke"},{"name":"Cloud Compute — Deployments","description":"Deployments, instances, rollouts and zone scaling of a compute application."},{"name":"Contracts (me)","description":"Account-level GENERAL contract acceptance"},{"name":"Regions (public)","description":"Bookable cloud regions for the region picker"},{"name":"Cloud Compute — DNS","description":"Namensaufloesung der Compute-Workloads je Projekt."},{"name":"Tenant Networks","description":"Self-service virtual networks with their own VXLAN VNI and IPAM. Feature-flag-gated (cloud.networks.enabled)."},{"name":"AI Base Models","description":"Cluster-wide base models (read-only for customers)."},{"name":"Cloud Compute — Zones","description":"Schedulable compute zones (platform regions)."},{"name":"Credentials","description":"Credentials vault: API tokens, SSH keys, passwords and encryption keys with expiry dates."},{"name":"Stats","description":"Resource counters for skeleton sizing"},{"name":"Volume Capacity","description":"Per-region availability for the volume order dialog"},{"name":"Cloud Gateways","description":"Host-independent public endpoints for cloud resources. Routes bind TCP+UDP ports to specific resources (volume, bucket, collection, ...)."},{"name":"Auth (WebAuthn)","description":"Passkey registration + MFA login ceremony"},{"name":"Account","description":"Manage your own account"},{"name":"VM Metrics","description":"CPU/RAM/network/disk history per VM."},{"name":"Project Setup","description":"Billing address + payment-method verification"},{"name":"Notifications","description":"Notification recipients per category"},{"name":"Cloud Volumes — File Browser","description":"Web file browser for a Cloud Volume. No gateway needed; the forwarding layer reaches the volume's file service internally."},{"name":"Blog Comments","description":"Authenticated comment + reaction actions on blog posts"},{"name":"Cloud Compute — Sizes","description":"Selectable CPU classes and resource steps."},{"name":"Cloud Volumes","description":"Encrypted block volumes, with optional SFTP access through the gateway."},{"name":"Quickdeploy","description":"GitHub Quickdeploy marketing entry point"},{"name":"Volume Backups","description":"Incremental backups per volume (self-service)."},{"name":"Observatory","description":"Monitoring & observability for a project (telemetry, logs, error tracking, dashboards, alerting,\non-call). All operations below are reverse-proxied by cloud-rest to the standalone Observatory\nservice; the platform injects the project + user identity, so callers never pass a project in the\nbody (the one exception is the legacy `?project=` query on `/v1/logs|spans|metrics`, see those ops).\n\n## Two credentials — do not confuse them\n**1. Platform API key (`ds_…`)** — authenticates the *management/read* API (everything on this\npage). Send it as `X-API-Key: ds_…` or `Authorization: Bearer ds_…` (use the **Authorize** button\nabove), or call as a logged-in user with the session cookie. An API-key principal is a machine\nprincipal: the proxy tags it `X-Observatory-Principal-Type: api-key`, so observatory exempts it\nfrom the per-seat licence gate that would otherwise 403 the licensed reads\n(logs/spans/metrics/query, dashboards, datasources, alert-rules, source-types).\n\n**2. Per-project OTLP ingest token (also `ds_…`)** — authenticates *telemetry ingest ONLY* and is\na different secret, minted per source via `POST …/observatory/v1/ingest-tokens` (or\n`…/v1/log-sources`). It is NOT a platform API key and is not used on any endpoint on this page.\n\n## Sending telemetry (OTLP ingest) is NOT proxied\nIngest does not go through cloud-rest. Point your OpenTelemetry Collector / SDK exporter straight\nat the collector — `telemetry.darkstone.de` (cluster-internal), OTLP/HTTP on `:4318`\n(`/v1/traces|logs|metrics`) and OTLP/gRPC on `:4317`, TLS terminated at the ingress on `:443`.\nAuthenticate each export with the ingest token in the `X-Observatory-Ingest-Key` header (or\n`Authorization: Bearer`). gzip (`Content-Encoding: gzip`) and protobuf (`application/x-protobuf`,\nthe default) are supported. Set OTel `service.name` (→ the service key you see under `/v1/services`)\nand `service.instance.id` (→ the instance under `…/instances`). Fetch the live endpoint + header\nname programmatically from `GET …/v1/ingest-config`.\n\n## Onboarding\nHave a project → `POST …/v1/ingest-tokens` (mint a token) → configure your exporter to\n`telemetry.darkstone.de` with `X-Observatory-Ingest-Key` → data appears under `/v1/services` and\n`/v1/logs` → build dashboards (`/v1/dashboards`), alert rules (`/v1/alert-rules`) and on-call\n(`/v1/oncall`).\n"},{"name":"Stripe Webhook","description":"Stripe event reception"},{"name":"Public Campaigns","description":"Anonymous lookups for the cookie banner + landing page"},{"name":"Cloud Compute — Applications","description":"Container-PaaS applications and their environments, per project."},{"name":"VM Backups","description":"Incremental backups of the VM boot disk (self-service)."},{"name":"Looking Glass","description":"Public network latency diagnostics"},{"name":"Invoices","description":"Invoices, PDF export"},{"name":"Me Payment Setup","description":"Project-less card setup for provisioning"},{"name":"Billing Config","description":"Stripe publishable key for the frontend init"},{"name":"Cloud Compute — Credentials","description":"Project credentials selectable for image-source authentication."},{"name":"Cloud Gateways v2","description":"Host-independent public endpoints. v2 adds gateway tiers (shared/dedicated), free port/port-range selection on dedicated gateways, PROXY protocol v2 and protocol-less routes (always TCP+UDP)."},{"name":"Auth","description":"Login & current user"},{"name":"API-Key Project Discovery","description":"Resolve the project a projekt-scoped API key belongs to"},{"name":"API Keys","description":"Manage the API keys of a project"},{"name":"Billing","description":"Billing, limits, prepaid"},{"name":"Cloud Compute — Updates","description":"Environment-to-environment promotion (pull-request analogue) of a compute application."},{"name":"Onboarding","description":"Profile setup + campaign affiliate tracking"},{"name":"Public Blog","description":"Anonymous blog reading API (list, single post, comments, RSS)"},{"name":"Contracts (public)","description":"Published legal contracts + subprocessors"},{"name":"Pricing","description":"Current price catalog of all cloud products (gross, EUR)."},{"name":"VM Capacity","description":"Per-region availability for the VM order dialog"},{"name":"i18n","description":"Public translation catalogs"},{"name":"Cloud Compute — Deployment Index","description":"Flat, cross-application list of a project's deployments (Cloud Gateway route-target picker)."},{"name":"Artificial Intelligence","description":"AIs deployed per project: text and image classifiers with embedded training data."},{"name":"Roles","description":"Manage roles & permissions"},{"name":"Auth (Standard)","description":"Email+password signup/login, email verification, password reset"},{"name":"Members","description":"Members of a project"},{"name":"Public","description":"Public, anonymous endpoints"},{"name":"Cloud Projects","description":"Manage cloud projects"},{"name":"Invitations","description":"Project invitations (shown in the UI as account notifications)"},{"name":"Virtual Machines","description":"KubeVirt-based VMs with a Cloud Volume boot disk."},{"name":"Me – Limits","description":"Own resource limits + current usage."}],"paths":{"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}":{"get":{"tags":["Cloud Gateways v2"],"operationId":"get","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}},"put":{"tags":["Cloud Gateways v2"],"operationId":"rename","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameGatewayRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}},"delete":{"tags":["Cloud Gateways v2"],"operationId":"delete","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}":{"put":{"tags":["Cloud Gateways v2"],"operationId":"updateRoute","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRouteRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}},"delete":{"tags":["Cloud Gateways v2"],"operationId":"deleteRoute","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/firewall":{"put":{"tags":["Cloud Gateways v2"],"summary":"Set or clear the per-route Edge-Firewall (country/IP/ASN + boolean rule tree). Empty body clears it.","operationId":"updateFirewall","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallConfig"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate":{"put":{"tags":["Cloud Gateways v2"],"summary":"Upload/replace your own TLS certificate (CUSTOM mode, no auto-renewal)","operationId":"uploadCertificate","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"cert":{"type":"string","format":"binary"},"key":{"type":"string","format":"binary"}},"required":["cert","key"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"/api/v1/projects/{projectUuid}":{"get":{"tags":["Cloud Projects"],"summary":"Project details","operationId":"get_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}},"put":{"tags":["Cloud Projects"],"summary":"Rename a project","operationId":"update","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}},"delete":{"tags":["Cloud Projects"],"summary":"Delete a project (owner only, with name confirmation)","operationId":"delete_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"confirmName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/permissions":{"put":{"tags":["Cloud Volumes"],"operationId":"updateUserPermissions","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/password":{"put":{"tags":["Cloud Volumes"],"operationId":"setUserPassword","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/enabled":{"put":{"tags":["Cloud Volumes"],"operationId":"setUserEnabled","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnabledRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/credential":{"put":{"tags":["Cloud Volumes"],"operationId":"setUserCredential","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/replication":{"put":{"tags":["Cloud Volumes"],"summary":"Update the replication locations","operationId":"updateReplication","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplicationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups/schedule":{"get":{"tags":["Volume Backups"],"summary":"Read the volume backup automation (interval in hours, 0 = off)","operationId":"getSchedule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}},"put":{"tags":["Volume Backups"],"summary":"Set the backup automation (customer-controlled; 0 = off). Each automatic backup is charged the 3% creation fee.","operationId":"setSchedule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups/plan":{"get":{"tags":["Volume Backups"],"summary":"Backup-Plan lesen (Voll-/Teil-/Inkrementell-Intervalle + max. Vollbackups)","operationId":"getPlan","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeBackupPlanDto"}}}}}},"put":{"tags":["Volume Backups"],"summary":"Backup-Plan setzen. Intervalle muessen streng absteigend sein (Voll > Teil > Inkrementell). Jedes automatische Backup kostet die 3%-Erstellungsgebuehr.","operationId":"setPlan","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeBackupPlanDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeBackupPlanDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/anonymous-access":{"put":{"tags":["Cloud Volumes"],"operationId":"updateAnonymous","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnonymousAccessRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/resize":{"put":{"tags":["Virtual Machines"],"summary":"Resize a VM (vCPU class/count + RAM)","operationId":"resize","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResizeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/data-volumes":{"put":{"tags":["Virtual Machines"],"summary":"Update mounted data volumes — live hotplug while running, else applied on next boot","operationId":"updateDataVolumes","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDataVolumesRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/boot-replication":{"put":{"tags":["Virtual Machines"],"summary":"Update the replication sites of the boot disk","operationId":"updateBootReplication","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBootReplicationRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups/schedule":{"get":{"tags":["VM Backups"],"summary":"Read the VM boot-disk backup automation (interval in hours, 0 = off)","operationId":"getSchedule_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}},"put":{"tags":["VM Backups"],"summary":"Set the VM boot-disk backup automation (customer-controlled; 0 = off, 3% per automatic backup)","operationId":"setSchedule_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups/plan":{"get":{"tags":["VM Backups"],"summary":"Backup-Plan der Boot-Disk lesen (Voll-/Teil-/Inkrementell-Intervalle + max. Vollbackups)","operationId":"getPlan_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BackupPlanSpec"}}}}}},"put":{"tags":["VM Backups"],"summary":"Backup-Plan der Boot-Disk setzen. Intervalle muessen streng absteigend sein (Voll > Teil > Inkrementell). Jedes automatische Backup kostet die 3%-Erstellungsgebuehr.","operationId":"setPlan_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupPlanSpec"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BackupPlanSpec"}}}}}}},"/api/v1/projects/{projectUuid}/setup/billing":{"put":{"tags":["Project Setup"],"summary":"Save the billing address + customer type on the project","operationId":"saveBilling","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingSetupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SetupStatusDto"}}}}}}},"/api/v1/projects/{projectUuid}/roles/{roleUuid}":{"put":{"tags":["Roles"],"summary":"Rename a role","operationId":"rename_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRenameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"delete":{"tags":["Roles"],"summary":"Delete a role","operationId":"delete_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/roles/{roleUuid}/permissions":{"put":{"tags":["Roles"],"summary":"Set the permissions of a role","operationId":"updatePermissions","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolePermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Role"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/retention":{"get":{"tags":["Observatory"],"summary":"Get log retention","description":"Observatory gate: `WATCH_VIEW`. Response `ProjectRetentionDto`: `{preset, overridden, defaultPreset}`. Presets: `HOUR|DAY|WEEK|MONTH|QUARTER`.","operationId":"retention","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"put":{"tags":["Observatory"],"summary":"Set a retention override","description":"Observatory gate: `WATCH_MANAGE`. Invalid preset → 400. Response `ProjectRetentionDto`.","operationId":"setRetention","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJwcmVzZXQiOiJXRUVLIn0="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"delete":{"tags":["Observatory"],"summary":"Reset retention to default","description":"Observatory gate: `WATCH_MANAGE`. Response `ProjectRetentionDto`.","operationId":"resetRetention","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/oncall/schedules":{"get":{"tags":["Observatory"],"summary":"List on-call schedules","description":"Per-member rota. Observatory gate: `WATCH_ALERT_VIEW`. Response `OnCallScheduleDto[]`: `{id, userEmail, userUuid, displayName, timezone, windows[{dayOfWeek,startTime,endTime}], exceptions[{type,from,to,recurrence}], updatedAt}`.","operationId":"oncallSchedules","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"put":{"tags":["Observatory"],"summary":"Create or replace a member's on-call schedule","description":"Upsert by member email. Observatory gate: `WATCH_ONCALL_MANAGE`. Response `OnCallScheduleDto`.","operationId":"oncallUpsert","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJ1c2VyRW1haWwiOiJkZXZAZXhhbXBsZS5jb20iLCJ0aW1lem9uZSI6IkV1cm9wZS9CZXJsaW4iLCJ3aW5kb3dzIjpbeyJkYXlPZldlZWsiOjEsInN0YXJ0VGltZSI6IjA5OjAwIiwiZW5kVGltZSI6IjE3OjAwIn1dLCJleGNlcHRpb25zIjpbXX0="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/datasources/{datasourceId}":{"get":{"tags":["Observatory"],"summary":"Get a datasource","description":"Observatory gate: `WATCH_VIEW` + seat licence. Response `DatasourceDto`.","operationId":"datasource","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"datasourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"put":{"tags":["Observatory"],"summary":"Update a datasource","description":"Observatory gate: `WATCH_MANAGE` + seat licence. Body = `DatasourceUpsertRequest`. Response `DatasourceDto`.","operationId":"updateDatasource","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"datasourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJuYW1lIjoicHJvbWV0aGV1cyIsInR5cGUiOiJwcm9tZXRoZXVzIiwiY29uZmlnIjp7InVybCI6Imh0dHA6Ly/igKYifSwic2VjcmV0UmVmIjpudWxsfQ=="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"delete":{"tags":["Observatory"],"summary":"Delete a datasource","description":"Observatory gate: `WATCH_MANAGE` + seat licence. 204 No Content.","operationId":"deleteDatasource","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"datasourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/dashboards/{dashboardId}":{"get":{"tags":["Observatory"],"summary":"Get a dashboard","description":"Observatory gate: `WATCH_VIEW` + seat licence. Response `DashboardDto` (with `panels[]`).","operationId":"dashboard","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"put":{"tags":["Observatory"],"summary":"Update a dashboard","description":"Observatory gate: `WATCH_MANAGE` + seat licence. Body = `{title, panels[]}`. Response `DashboardDto`.","operationId":"updateDashboard","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJ0aXRsZSI6Ik92ZXJ2aWV3IiwicGFuZWxzIjpbXX0="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"delete":{"tags":["Observatory"],"summary":"Delete a dashboard","description":"Observatory gate: `WATCH_MANAGE` + seat licence. 204 No Content.","operationId":"deleteDashboard","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/alert-rules/{ruleId}":{"get":{"tags":["Observatory"],"summary":"Get an alert rule","description":"Observatory gate: `WATCH_ALERT_VIEW` + seat licence. Response `AlertRuleDto`.","operationId":"alertRule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"put":{"tags":["Observatory"],"summary":"Update an alert rule","description":"Observatory gate: `WATCH_ALERT_MANAGE` + seat licence. Body = `AlertRuleUpsertRequest` (same shape as create). Response `AlertRuleDto`.","operationId":"updateAlertRule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJuYW1lIjoiSGlnaCBlcnJvciByYXRlIiwiZW5hYmxlZCI6dHJ1ZSwiZGF0YXNvdXJjZUlkIjoiPHV1aWQ+IiwicXVlcnkiOnt9LCJjb21wYXJhdG9yIjoiPiIsInRocmVzaG9sZCI6MjAsIndpbmRvd01pbnV0ZXMiOjUsImZvck1pbnV0ZXMiOjUsInNldmVyaXR5IjoiY3JpdGljYWwiLCJub3RpZnlSb2xlVXVpZHMiOltdfQ=="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"delete":{"tags":["Observatory"],"summary":"Delete an alert rule","description":"Observatory gate: `WATCH_ALERT_MANAGE` + seat licence. 204 No Content.","operationId":"deleteAlertRule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/notifications/{category}":{"get":{"tags":["Notifications"],"summary":"Configuration of a single category","operationId":"get_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"category","in":"path","required":true,"schema":{"type":"string","enum":["SECURITY","BILLING"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationConfig"}}}}}},"put":{"tags":["Notifications"],"summary":"Replace the recipients of a category","operationId":"setTargets","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"category","in":"path","required":true,"schema":{"type":"string","enum":["SECURITY","BILLING"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationConfig"}}}}}}},"/api/v1/projects/{projectUuid}/networks/{networkUuid}":{"get":{"tags":["Tenant Networks"],"summary":"Network details","operationId":"get_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantNetworkDto"}}}}}},"put":{"tags":["Tenant Networks"],"summary":"Edit a network","description":"Updates the mutable metadata (name / DNS slug). The VNI and CIDR are immutable. A rename needs no cluster mutation and no member restart — the NetworkAttachmentDefinition is keyed on the network uuid.","operationId":"update_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTenantNetworkRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantNetworkDto"}}}}}},"delete":{"tags":["Tenant Networks"],"summary":"Delete a network","operationId":"delete_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/transfer-lock":{"put":{"tags":["Domains"],"summary":"Toggle registrar transfer lock","operationId":"transferLock","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/privacy":{"put":{"tags":["Domains"],"summary":"Toggle WHOIS privacy","operationId":"privacy","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/nameservers":{"put":{"tags":["Domains"],"summary":"Set nameservers (custom list, or delegate to our cloud-dns)","operationId":"setNameservers","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameserverRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/dns":{"get":{"tags":["Domains"],"summary":"List DNS records","operationId":"getRecords","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}},"put":{"tags":["Domains"],"summary":"Replace all DNS records","operationId":"setRecords","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsRecordsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/auto-renew":{"put":{"tags":["Domains"],"summary":"Toggle auto-renew","operationId":"autoRenew","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDetailsDto"}}}}}}},"/api/v1/projects/{projectUuid}/credentials/{credentialUuid}":{"put":{"tags":["Credentials"],"summary":"Update a credential (name, notes, username, expiry)","operationId":"update_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Credential"}}}}}},"delete":{"tags":["Credentials"],"summary":"Delete a credential","operationId":"delete_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/credentials/{credentialUuid}/secret":{"put":{"tags":["Credentials"],"summary":"Rotate the secret","operationId":"rotateSecret","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotateSecretRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Credential"}}}}}}},"/api/v1/projects/{projectUuid}/compute/dns":{"get":{"tags":["Cloud Compute — DNS"],"summary":"Read the project's DNS resolver setting","operationId":"get_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDnsSettingsDto"}}}}}},"put":{"tags":["Cloud Compute — DNS"],"summary":"Choose the project's DNS resolvers","operationId":"set","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetComputeDnsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDnsSettingsDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/volumes":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Set a deployment's cloud volume mounts","operationId":"setVolumeMounts","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetVolumeMountsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/load-balancer":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Set a deployment's load-balancing mode","operationId":"setLoadBalancerMode","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetLoadBalancerModeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/health-check":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Set a deployment's container health check","operationId":"setHealthCheck","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetHealthCheckRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/external-route":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Set or clear a deployment's external Cloud Gateway route","operationId":"setExternalRoute","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetExternalRouteRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/environment":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Set a deployment's environment variables","operationId":"setEnvironmentVariables","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetEnvironmentVariablesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/dns":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Set a deployment's DNS resolvers","operationId":"setDeploymentDns","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetDeploymentDnsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/container-port":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Set the container port a deployment's app listens on","operationId":"setContainerPort","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetContainerPortRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/compute/applications/{appUuid}/deployments/{deploymentUuid}/autoscaling":{"put":{"tags":["Cloud Compute — Deployments"],"summary":"Enable or disable autoscaling for a deployment","operationId":"setAutoscaling","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"deploymentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetAutoscalingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ComputeDeploymentDto"}}}}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}":{"get":{"tags":["Cloud Gateways"],"operationId":"get_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDto"}}}}}},"put":{"tags":["Cloud Gateways"],"operationId":"rename_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameGatewayRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDto"}}}}}},"delete":{"tags":["Cloud Gateways"],"operationId":"delete_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}":{"put":{"tags":["Cloud Gateways"],"operationId":"updateRoute_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRouteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDto"}}}}}},"delete":{"tags":["Cloud Gateways"],"operationId":"deleteRoute_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate":{"put":{"tags":["Cloud Gateways"],"summary":"Upload/replace your own TLS certificate (CUSTOM mode, no auto-renewal)","operationId":"uploadCertificate_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"cert":{"type":"string","format":"binary"},"key":{"type":"string","format":"binary"}},"required":["cert","key"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDto"}}}}}}},"/api/v1/projects/{projectUuid}/billing/limits/{serviceType}":{"put":{"tags":["Billing"],"summary":"Set the limit for a service","operationId":"setLimit","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"serviceType","in":"path","required":true,"schema":{"type":"string","enum":["AI_INVOKE","AI_TRAINING_STORAGE","VECTORDB_STORAGE","VECTORDB_SEARCH","VECTORDB_WRITE","OBJECT_STORAGE_STORAGE","VOLUMES_STORAGE","VOLUMES_TRAFFIC_OUT","VOLUMES_MIRROR_REPLICA","VOLUMES_BACKUP_STORAGE","VOLUMES_BACKUP_OPERATION","CLOUDGATE_BASE","CLOUDGATE_BASE_DEDICATED","CLOUDGATE_TRAFFIC_OUT","CLOUDGATE_TRAFFIC_IN","CLOUDGATE_ROUTE","COMPUTE_VCPU_LC1","COMPUTE_VCPU_LC2","COMPUTE_VCPU_LC3","COMPUTE_VCPU_MC1","COMPUTE_VCPU_MC2","COMPUTE_VCPU_MC3","COMPUTE_VCPU_HC1","COMPUTE_RAM","COMPUTE_IMAGE_STORAGE","VM_VCPU_LC1","VM_VCPU_LC2","VM_VCPU_LC3","VM_VCPU_MC1","VM_VCPU_MC2","VM_VCPU_MC3","VM_VCPU_HC1","VM_RAM","VM_BOOT_STORAGE","VM_BOOT_MIRROR_REPLICA","REGISTRY_STORAGE","DOMAIN_REGISTER","DOMAIN_RENEW","DOMAIN_TRANSFER","DOMAIN_RESTORE","WATCH_SEAT","WATCH_ALERT","TENANT_NETWORK_BASE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LimitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BillingLimit"}}}}}}},"/api/v1/projects/{projectUuid}/billing/auto-recharge":{"get":{"tags":["Billing"],"summary":"Auto-recharge configuration of the project","operationId":"getAutoRecharge","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoRechargeConfig"}}}}}},"put":{"tags":["Billing"],"summary":"Configure auto-recharge. Requires a saved payment method (created on the first top-up).","operationId":"setAutoRecharge","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoRechargeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoRechargeConfig"}}}}}}},"/api/v1/projects/{projectUuid}/billing-profile":{"get":{"tags":["Cloud Projects"],"summary":"Billing profile of the project (company, VAT ID, address, contact)","operationId":"getBillingProfile","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BillingProfileDto"}}}}}},"put":{"tags":["Cloud Projects"],"summary":"Update the billing profile of the project (company/VAT ID/address/contact)","operationId":"updateBillingProfile","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}}},"/api/v1/projects/{projectUuid}/api-keys/{apiKeyUuid}":{"put":{"tags":["API Keys"],"summary":"Rename an API key","operationId":"rename_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"apiKeyUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyRenameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDto"}}}}}},"delete":{"tags":["API Keys"],"summary":"Revoke an API key","operationId":"revoke","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"apiKeyUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/api-keys/{apiKeyUuid}/permissions":{"put":{"tags":["API Keys"],"summary":"Change the permissions of an API key","operationId":"updatePermissions_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"apiKeyUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyPermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDto"}}}}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}":{"put":{"tags":["Artificial Intelligence"],"summary":"Rename an AI","operationId":"rename_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeployedAi"}}}}}},"delete":{"tags":["Artificial Intelligence"],"summary":"Delete an AI including its training data","operationId":"delete_6","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/ai/{aiUuid}/training/{entryUuid}":{"put":{"tags":["Artificial Intelligence"],"summary":"Update a training entry","operationId":"updateTraining","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"entryUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrainingRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrainingEntry"}}}}}},"delete":{"tags":["Artificial Intelligence"],"summary":"Delete a training entry","operationId":"deleteTraining","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"aiUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"entryUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/me/onboarding":{"get":{"tags":["Onboarding"],"summary":"Current profile setup and onboarding status","operationId":"status","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingStatusDto"}}}}},"security":[{"session":[]}]},"put":{"tags":["Onboarding"],"summary":"Save profile data; creates the user on first onboarding","operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingStatusDto"}}}}},"security":[{"session":[]}]}},"/api/v1/me/legal/accept":{"put":{"tags":["Onboarding"],"summary":"Accept the current legal version (versioned re-accept gate)","operationId":"acceptLegal","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LegalAcceptResultDto"}}}}},"security":[{"session":[]}]}},"/api/v1/blog/comments/{commentUuid}/reactions":{"put":{"tags":["Blog Comments"],"summary":"Toggle one of the 5 fixed emoji reactions on a comment (one reaction per user)","operationId":"toggleReaction","parameters":[{"name":"commentUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReactionToggleResponseDto"}}}}}}},"/api/v1/account":{"put":{"tags":["Account"],"summary":"Edit your own account (display name). The email is fixed at signup (Standard: chosen by you at signup; SSO: the provider identity) and not changeable here.","operationId":"updateAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Account"],"summary":"Irreversibly delete your own account (with email confirmation)","operationId":"deleteAccount","parameters":[{"name":"confirmEmail","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/account/profile":{"get":{"tags":["Account"],"summary":"Read your account master data (company name + name). The address is NOT here — it is per project (billing address).","operationId":"profile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Account"],"summary":"Change your account master data (company name + name). The address is NOT here — it is per project (billing address).","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/account/locale":{"put":{"tags":["Account"],"summary":"Save the preferred language (controls the language of system emails)","operationId":"updateLocale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocaleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates":{"get":{"tags":["Cloud Gateways v2"],"operationId":"list","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}}},"post":{"tags":["Cloud Gateways v2"],"operationId":"create","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGatewayRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GatewayDtoV2"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes":{"get":{"tags":["Cloud Gateways v2"],"operationId":"listRoutes","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"post":{"tags":["Cloud Gateways v2"],"operationId":"createRoute","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRouteRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"/api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate/managed":{"post":{"tags":["Cloud Gateways v2"],"summary":"Switch back to a managed Let's Encrypt certificate (with auto-renewal)","operationId":"useManagedCertificate","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"gatewayUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"routeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteDtoV2"}}}}}}},"/api/v1/public/quickdeploy/events":{"post":{"tags":["Quickdeploy"],"summary":"Record a Quickdeploy landing (repo + optional referrer)","operationId":"land","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LandRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventDto"}}}}}}},"/api/v1/public/looking-glass/check":{"post":{"tags":["Looking Glass"],"summary":"Latency measurement (uplink/downlink/ping) to a public remote IP. 1 measurement per 5s per IP; reloading during the cooldown extends it.","operationId":"check","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookingGlassCheckRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/projects":{"get":{"tags":["Cloud Projects"],"summary":"Projects reachable with the current credentials. Session/OAuth: every project the user is a member of. API key: the single project the key is scoped to — use this to resolve your project UUID, which every other path needs as {projectUuid}.","operationId":"list_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudProject"}}}}}}},"post":{"tags":["Cloud Projects"],"summary":"Create a new project","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloudProject"}}}}}}},"/api/v1/projects/{projectUuid}/volumes":{"get":{"tags":["Cloud Volumes"],"summary":"List the volumes of the project","operationId":"list_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"post":{"tags":["Cloud Volumes"],"summary":"Create a volume (with mandatory encryption + hidden shadow replica)","operationId":"create_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVolumeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users":{"get":{"tags":["Cloud Volumes"],"operationId":"listUsers","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"post":{"tags":["Cloud Volumes"],"operationId":"createUser","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VolumeUserDto"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/upload":{"post":{"tags":["Cloud Volumes — File Browser"],"summary":"Upload a file (multipart)","operationId":"upload","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"path","in":"query","required":true,"schema":{"type":"string"}},{"name":"overwrite","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileEntry"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/rename":{"post":{"tags":["Cloud Volumes — File Browser"],"summary":"Rename or move a file/directory","operationId":"rename_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileEntry"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/mkdir":{"post":{"tags":["Cloud Volumes — File Browser"],"summary":"Create a directory","operationId":"mkdir","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"path","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileEntry"}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups":{"get":{"tags":["Volume Backups"],"summary":"List the backups of a volume","operationId":"list_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LonghornBackupInfo"}}}}}}},"post":{"tags":["Volume Backups"],"summary":"Create an incremental backup","operationId":"create_3","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBackupRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups/{backupName}/restore":{"post":{"tags":["Volume Backups"],"summary":"Restore a backup into a NEW volume (includes a 3% restore fee)","operationId":"restore","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"backupName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines":{"get":{"tags":["Virtual Machines"],"summary":"List the VMs of the project","operationId":"list_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"post":{"tags":["Virtual Machines"],"summary":"Create a VM","operationId":"create_4","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVirtualMachineRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/stop":{"post":{"tags":["Virtual Machines"],"summary":"Stop a VM","operationId":"stop","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/start":{"post":{"tags":["Virtual Machines"],"summary":"Start a VM","operationId":"start","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/reinstall":{"post":{"tags":["Virtual Machines"],"summary":"Reinstall a VM (overwrite the OS image)","operationId":"reinstall","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups":{"get":{"tags":["VM Backups"],"summary":"List the VM boot-disk backups","description":"Each backup carries a `region` field: the physical location (data-centre / site code) where the backup resides — the site of the boot disk's Longhorn BackupTarget. Because a Longhorn volume has exactly ONE backup target, the region is identical for every backup regardless of its level (full / partial / incremental); it hangs on the storage location, not the backup step. It is `null` when the location is unknown (unresolvable backup target) — never a guessed value.","operationId":"list_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BackupInfo"}}}}}}},"post":{"tags":["VM Backups"],"summary":"Create an incremental backup of the VM boot disk","operationId":"create_5","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBackupRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups/{backupName}/restore":{"post":{"tags":["VM Backups"],"summary":"Restore a VM boot backup into a NEW volume (includes a 3% restore fee)","operationId":"restore_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"backupName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/apply-resize":{"post":{"tags":["Virtual Machines"],"summary":"Apply a pending resize by restarting","operationId":"applyResize","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"vmUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VirtualMachineDto"}}}}}}},"/api/v1/projects/{projectUuid}/transfer":{"post":{"tags":["Cloud Projects"],"summary":"Transfer ownership (owner only, optional name confirmation)","operationId":"transfer","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/projects/{projectUuid}/roles":{"get":{"tags":["Roles"],"summary":"All roles of the project","operationId":"list_6","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}}},"post":{"tags":["Roles"],"summary":"Create a role","operationId":"create_6","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Role"}}}}}}},"/api/v1/projects/{projectUuid}/roles/{roleUuid}/assignments/{userUuid}":{"post":{"tags":["Roles"],"summary":"Assign a role to a user","operationId":"assign","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Roles"],"summary":"Remove a role from a user","operationId":"unassign","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/projects/{projectUuid}/registry/robots":{"get":{"tags":["Container Registry – Robot Accounts"],"summary":"List the robot accounts of the project (without passwords)","operationId":"list_7","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RobotDto"}}}}}}},"post":{"tags":["Container Registry – Robot Accounts"],"summary":"Create a new robot account — the password is returned only once","operationId":"create_7","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryRobotCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RobotCreatedDto"}}}}}}},"/api/v1/projects/{projectUuid}/registry/robots/{robotUuid}/rotate":{"post":{"tags":["Container Registry – Robot Accounts"],"summary":"Rotate a robot account's password — the new password is returned only once","operationId":"rotate","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"robotUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RobotCreatedDto"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/query":{"post":{"tags":["Observatory"],"summary":"Execute a datasource query","description":"Runs a panel query against a project datasource and returns a normalized result. Observatory gate: `WATCH_VIEW` + seat licence. The project comes from identity, never the body. Response `QueryResult`: `{resultType:'timeseries'|'logs-table'|'stat', series[], rows[], value, note}`.","operationId":"query","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJkYXRhc291cmNlSWQiOiI8dXVpZD4iLCJxdWVyeSI6e30sImZyb20iOiIyMDI2LTA3LTExVDAwOjAwOjAwWiIsInRvIjoiMjAyNi0wNy0xMVQwMTowMDowMFoiLCJpbnRlcnZhbFNlY29uZHMiOjYwfQ=="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/logs/cleanup":{"post":{"tags":["Observatory"],"summary":"Purge old logs","description":"Delete the project's logs older than a preset threshold (always project-scoped; cutoff never later than now). Observatory gate: `WATCH_MANAGE`. Unknown/blank preset → 400. Response `CleanupResultDto`: `{cutoff, accepted, submittedAt}`.","operationId":"cleanupLogs","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJwcmVzZXQiOiJNT05USCJ9"}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/log-sources":{"get":{"tags":["Observatory"],"summary":"List registered log sources","description":"Observatory gate: `WATCH_VIEW`. Response `LogSourceDto[]`: `{id, name, tokenId, tokenPrefix, createdAt, lastIngestAt}`.","operationId":"logSources","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"post":{"tags":["Observatory"],"summary":"Register a log source (mints an ingest token)","description":"Registers a source and mints a dedicated OTLP ingest token, returned ONCE. Observatory gate: `WATCH_MANAGE`. Response `CreatedLogSourceDto`: `{id, name, tokenId, tokenPrefix, token, otlpEndpoint, ingestHeader, createdAt}` — `token` is the secret to put in `X-Observatory-Ingest-Key`.","operationId":"createLogSource","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJuYW1lIjoibXktc2VydmljZSJ9"}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/licenses":{"get":{"tags":["Observatory"],"summary":"List seat licences","description":"Assigned Observatory seats. Observatory gate: `WATCH_VIEW`. Response `LicenseDto[]`: `{id, userEmail, userUuid, displayName, assignedByEmail, assignedAt}`.","operationId":"licenses","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"post":{"tags":["Observatory"],"summary":"Assign a seat licence","description":"Assign a seat to a project member by email. Observatory gate: `WATCH_MANAGE`. Response `LicenseDto`.","operationId":"assignLicense","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJ1c2VyRW1haWwiOiJkZXZAZXhhbXBsZS5jb20iLCJ1c2VyVXVpZCI6Ijx1dWlkPiIsImRpc3BsYXlOYW1lIjoiRGV2In0="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/ingest-tokens":{"get":{"tags":["Observatory"],"summary":"List OTLP ingest tokens","description":"Per-project OTLP ingest tokens (metadata only, never the secret). Observatory gate: `WATCH_VIEW`. Response `IngestTokenDto[]`: `{id, projectId, name, prefix, createdAt, lastUsedAt}`.","operationId":"ingestTokens","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"post":{"tags":["Observatory"],"summary":"Mint an OTLP ingest token","description":"Creates a per-project ingest token — the secret used in `X-Observatory-Ingest-Key` when exporting OTLP to `telemetry.darkstone.de`. Returned ONCE (store it now). Observatory gate: `WATCH_MANAGE`. Response `CreatedIngestTokenDto`: `{id, projectId, name, prefix, token, createdAt}`.","operationId":"createIngestToken","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJuYW1lIjoicHJvZC1jb2xsZWN0b3IifQ=="}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/datasources":{"get":{"tags":["Observatory"],"summary":"List datasources","description":"Observatory gate: `WATCH_VIEW` + seat licence. Response `DatasourceDto[]`: `{id, projectId, name, type, config{}, secretRef}`.","operationId":"datasources","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"post":{"tags":["Observatory"],"summary":"Create a datasource","description":"Observatory gate: `WATCH_MANAGE` + seat licence. Response `DatasourceDto`.","operationId":"createDatasource","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJuYW1lIjoicHJvbWV0aGV1cyIsInR5cGUiOiJwcm9tZXRoZXVzIiwiY29uZmlnIjp7InVybCI6Imh0dHA6Ly/igKYifSwic2VjcmV0UmVmIjpudWxsfQ=="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/dashboards":{"get":{"tags":["Observatory"],"summary":"List dashboards","description":"Observatory gate: `WATCH_VIEW` + seat licence. Response `DashboardDto[]`: `{id, projectId, title, panels[]}`.","operationId":"dashboards","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"post":{"tags":["Observatory"],"summary":"Create a dashboard","description":"Observatory gate: `WATCH_MANAGE` + seat licence. Response `DashboardDto`.","operationId":"createDashboard","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJ0aXRsZSI6Ik92ZXJ2aWV3IiwicGFuZWxzIjpbXX0="}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/alert-rules":{"get":{"tags":["Observatory"],"summary":"List alert rules","description":"Observatory gate: `WATCH_ALERT_VIEW` + seat licence. Response `AlertRuleDto[]`: `{id, name, enabled, datasourceId, query, comparator, threshold, windowMinutes, forMinutes, severity, notifyRoleUuids[], state, lastValue, lastEvaluatedAt, lastFiredAt, createdAt, updatedAt}`.","operationId":"alertRules","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}},"post":{"tags":["Observatory"],"summary":"Create an alert rule","description":"Observatory gate: `WATCH_ALERT_MANAGE` + seat licence. Response `AlertRuleDto`.","operationId":"createAlertRule","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJuYW1lIjoiSGlnaCBlcnJvciByYXRlIiwiZW5hYmxlZCI6dHJ1ZSwiZGF0YXNvdXJjZUlkIjoiPHV1aWQ+IiwicXVlcnkiOnt9LCJjb21wYXJhdG9yIjoiPiIsInRocmVzaG9sZCI6MTAsIndpbmRvd01pbnV0ZXMiOjUsImZvck1pbnV0ZXMiOjUsInNldmVyaXR5IjoiY3JpdGljYWwiLCJub3RpZnlSb2xlVXVpZHMiOlsiPHV1aWQ+Il19"}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/observatory/v1/alert-rules/recipient-preview":{"post":{"tags":["Observatory"],"summary":"Preview alert recipients","description":"Resolves which members the given roles would notify. Observatory gate: `WATCH_ALERT_VIEW`.","operationId":"alertRecipientPreview","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte"},"example":"eyJyb2xlVXVpZHMiOlsiPHV1aWQ+Il19"}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/projects/{projectUuid}/networks":{"get":{"tags":["Tenant Networks"],"summary":"List the networks of the project","operationId":"list_8","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TenantNetworkDto"}}}}}}},"post":{"tags":["Tenant Networks"],"summary":"Create a network","operationId":"create_8","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantNetworkRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantNetworkDto"}}}}}}},"/api/v1/projects/{projectUuid}/networks/{networkUuid}/attachments":{"get":{"tags":["Tenant Networks"],"summary":"List the attached VMs of a network","operationId":"listAttachments","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}}}}},"post":{"tags":["Tenant Networks"],"summary":"Attach a VM to the network (MOVE semantics)","description":"A VM is in AT MOST one network. If the VM already sits in another network it is MOVED (detached from the old one first, then attached to the new one) — afterwards it is in exactly this network. Idempotent when it already sits here. Both the network AND the VM must belong to the path project. KubeVirt only picks up the changed secondary interface on an instance restart — restartRequired=true signals a pending restart.","operationId":"attach","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentDto"}}}}}}},"/api/v1/projects/{projectUuid}/networks/{networkUuid}/attachments/bulk":{"post":{"tags":["Tenant Networks"],"summary":"Attach MULTIPLE resources to the network at once","description":"Adds several resources (VMs and — prepared — compute apps) to one network in a single call. Each member follows the same MOVE semantics and one-network-per-resource rule as the single attach. Per-member failures are isolated (a bad member does not abort the batch) and reported individually. VM members need an instance restart to take effect.","operationId":"attachBulk","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"networkUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkAttachRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BulkAttachmentResultDto"}}}}}}}},"/api/v1/projects/{projectUuid}/leave":{"post":{"tags":["Cloud Projects"],"summary":"Leave a project (remove your own membership, non-owners only)","operationId":"leave","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/projects/{projectUuid}/invitations":{"get":{"tags":["Invitations"],"summary":"Pending/completed invitations of the project (admin)","operationId":"list_9","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvitationDto"}}}}}}},"post":{"tags":["Invitations"],"summary":"Invite someone to the project — the invitee is notified by account email","operationId":"create_9","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvitationDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains":{"get":{"tags":["Domains"],"summary":"List the project's registered domains","operationId":"list_10","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"post":{"tags":["Domains"],"summary":"Register a domain (charged after success)","operationId":"register","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/restore":{"post":{"tags":["Domains"],"summary":"Restore a redemption domain (expensive — charged after success)","operationId":"restore_2","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/{domain}/renew":{"post":{"tags":["Domains"],"summary":"Renew a domain (charged after success)","operationId":"renew","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/domains/transfer":{"post":{"tags":["Domains"],"summary":"Transfer-in a domain with auth code (charged after transfer completes)","operationId":"transferIn","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferInRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}}},"/api/v1/projects/{projectUuid}/credentials":{"get":{"tags":["Credentials"],"summary":"All credentials of the project (paginated)","operationId":"list_11","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseCredential"}}}}}},"post":{"tags":["Credentials"],"summary":"Create a credential","operationId":"create_10","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Credential"}}}}}}},"/api/v1/projects/{projectUuid}/contracts/{id}/revoke":{"post":{"tags":["Contracts (project)"],"summary":"Revoke a product contract — IMMEDIATELY tears down all of the product's services in this project","operationId":"revoke_1","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RevokeResult"}}}}}}},"/api/v1/projects/{projectUuid}/contracts/{id}/accept":{"post":{"tags":["Contracts (project)"],"summary":"Accept a product contract for this project (unlocks the product; idempotent)","operationId":"accept","parameters":[{"name":"projectUuid","in":"path","required":true,"schema":{"type":"string","
[...]
