openapi: 3.1.0
info:
  contact:
    email: support@darkstone-entertainment.de
    name: Darkstone Entertainment
  description: |
    REST API for the Darkstone Cloud platform: container compute, virtual machines,
    encrypted volumes, S3-compatible object storage, the vector database, AI inference,
    the DDoS-protected Cloud Gateway, billing and project management.

    <a href="/oauth2/authorization/google" style="display:inline-block;background:#4285F4;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;font-weight:600;font-family:Arial,sans-serif;margin:8px 0;">🔐 Sign in with Google</a>

    After a successful login the session cookie is automatically attached to every Swagger
    request (same-origin). For non-browser clients, set an API key via the **Authorize** button
    in the top right (header `X-API-Key`, format `ds_…`).
  license:
    name: Proprietary
  title: Darkstone Cloud API
  version: 1.0.0
servers:
- description: Generated server url
  url: https://api.darkstone.de
security:
- ApiKeyAuth: []
tags:
- description: Incremental backups of the VM boot disk (self-service).
  name: VM Backups
- description: Public network latency diagnostics
  name: Looking Glass
- description: "Invoices, PDF export"
  name: Invoices
- description: Project-less card setup for provisioning
  name: Me Payment Setup
- description: Stripe publishable key for the frontend init
  name: Billing Config
- description: "Host-independent public endpoints. v2 adds gateway tiers (shared/dedicated),\
    \ free port/port-range selection on dedicated gateways, PROXY protocol v2 and\
    \ protocol-less routes (always TCP+UDP)."
  name: Cloud Gateways v2
- description: Login & current user
  name: Auth
- description: Manage the API keys of a project
  name: API Keys
- description: Cluster-wide base models (read-only for customers).
  name: AI Base Models
- description: "Billing, limits, prepaid"
  name: Billing
- description: "Credentials vault: API tokens, SSH keys, passwords and encryption\
    \ keys with expiry dates."
  name: Credentials
- description: Self-service virtuelle Netzwerke (VLAN/VPC) mit eigener VXLAN-VNI +
    IPAM. Feature-flag-gated (cloud.networks.enabled).
  name: Tenant Networks
- description: OpenAI-compatible invocation via the cloud gateway.
  name: "Data-Plane: AI"
- description: Profile setup + campaign affiliate tracking
  name: Onboarding
- description: "Current price catalog of all cloud products (gross, EUR)."
  name: Pricing
- description: Resource counters for skeleton sizing
  name: Stats
- description: Public translation catalogs
  name: i18n
- description: "Host-independent public endpoints for cloud resources. Routes bind\
    \ TCP+UDP ports to specific resources (volume, bucket, collection, ...)."
  name: Cloud Gateways
- description: Anonymous lookups for the cookie banner
  name: Public Campaigns
- description: Manage your own account
  name: Account
- description: CPU/RAM/network/disk history per VM.
  name: VM Metrics
- description: Billing address + payment-method verification
  name: Project Setup
- description: "AIs deployed per project: text and image classifiers with embedded\
    \ training data."
  name: Artificial Intelligence
- description: Notification recipients per category
  name: Notifications
- description: Manage roles & permissions
  name: Roles
- description: Members of a project
  name: Members
- description: "Public, anonymous endpoints"
  name: Public
- description: Manage cloud projects
  name: Cloud Projects
- description: Project invitations (shown in the UI as account notifications)
  name: Invitations
- description: KubeVirt-based VMs with a Cloud Volume boot disk.
  name: Virtual Machines
- description: Incremental backups per volume (self-service).
  name: Volume Backups
- description: Own resource limits + current usage.
  name: Me – Limits
- description: Longhorn snapshot management for customer recovery use cases.
  name: Volume Snapshots
- description: "Encrypted block volumes via Longhorn, with optional SFTP access through\
    \ the gateway."
  name: Cloud Volumes
- description: Stripe event reception
  name: Stripe Webhook
- description: Web file browser for a Cloud Volume. No gateway needed; the forwarding
    layer talks internally to the volumes-sftp pod that has the PVCs mounted.
  name: Cloud Volumes — File Browser
paths:
  /api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}:
    delete:
      operationId: delete
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - Cloud Gateways v2
      x-accepts:
      - application/json
    get:
      operationId: get
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GatewayDtoV2"
          description: OK
      tags:
      - Cloud Gateways v2
      x-accepts:
      - '*/*'
    put:
      operationId: rename
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameGatewayRequestV2"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GatewayDtoV2"
          description: OK
      tags:
      - Cloud Gateways v2
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}:
    delete:
      operationId: deleteRoute
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: routeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - Cloud Gateways v2
      x-accepts:
      - application/json
    put:
      operationId: updateRoute
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: routeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRouteRequestV2"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RouteDtoV2"
          description: OK
      tags:
      - Cloud Gateways v2
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate:
    put:
      operationId: uploadCertificate
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: routeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadCertificate_request"
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RouteDtoV2"
          description: OK
      summary: "Upload/replace your own TLS certificate (CUSTOM mode, no auto-renewal)"
      tags:
      - Cloud Gateways v2
      x-content-type: multipart/form-data
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}:
    delete:
      operationId: delete_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: confirmName
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: "Delete a project (owner only, with name confirmation)"
      tags:
      - Cloud Projects
      x-accepts:
      - '*/*'
    get:
      operationId: get_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CloudProject"
          description: OK
      summary: Project details
      tags:
      - Cloud Projects
      x-accepts:
      - '*/*'
    put:
      operationId: update
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CloudProject"
          description: OK
      summary: Rename a project
      tags:
      - Cloud Projects
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/permissions:
    put:
      operationId: updateUserPermissions
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PermissionRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeUserDto"
          description: OK
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/password:
    put:
      operationId: setUserPassword
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeUserDto"
          description: OK
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/enabled:
    put:
      operationId: setUserEnabled
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnabledRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeUserDto"
          description: OK
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users/{userUuid}/credential:
    put:
      operationId: setUserCredential
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeUserDto"
          description: OK
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/replication:
    put:
      operationId: updateReplication
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplicationRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeDto"
          description: OK
      summary: Update the replication locations
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups/schedule:
    get:
      operationId: getSchedule
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  format: int32
                  type: integer
          description: OK
      summary: "Read the volume backup automation (interval in hours, 0 = off)"
      tags:
      - Volume Backups
      x-accepts:
      - '*/*'
    put:
      operationId: setSchedule
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleRequest"
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  format: int32
                  type: integer
          description: OK
      summary: Set the backup automation (customer-controlled; 0 = off). Each automatic
        backup is charged the 3% creation fee.
      tags:
      - Volume Backups
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/anonymous-access:
    put:
      operationId: updateAnonymous
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnonymousAccessRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeDto"
          description: OK
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/resize:
    put:
      operationId: resize
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Resize a VM (vCPU class/count + RAM)
      tags:
      - Virtual Machines
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/data-volumes:
    put:
      operationId: updateDataVolumes
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDataVolumesRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Update the mounted data volumes (the VM must be stopped)
      tags:
      - Virtual Machines
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/boot-replication:
    put:
      operationId: updateBootReplication
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBootReplicationRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Update the replication sites of the boot disk
      tags:
      - Virtual Machines
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups/schedule:
    get:
      operationId: getSchedule_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  format: int32
                  type: integer
          description: OK
      summary: "Read the VM boot-disk backup automation (interval in hours, 0 = off)"
      tags:
      - VM Backups
      x-accepts:
      - '*/*'
    put:
      operationId: setSchedule_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleRequest"
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  format: int32
                  type: integer
          description: OK
      summary: "Set the VM boot-disk backup automation (customer-controlled; 0 = off,\
        \ 3% per automatic backup)"
      tags:
      - VM Backups
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/setup/billing:
    put:
      operationId: saveBilling
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingSetupRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SetupStatusDto"
          description: OK
      summary: Save the billing address + customer type on the project
      tags:
      - Project Setup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/roles/{roleUuid}:
    delete:
      operationId: delete_2
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a role
      tags:
      - Roles
      x-accepts:
      - application/json
    put:
      operationId: rename_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Role"
          description: OK
      summary: Rename a role
      tags:
      - Roles
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/roles/{roleUuid}/permissions:
    put:
      operationId: updatePermissions
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PermissionsRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Role"
          description: OK
      summary: Set the permissions of a role
      tags:
      - Roles
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/notifications/{category}:
    get:
      operationId: get_2
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: category
        required: true
        schema:
          enum:
          - SECURITY
          - BILLING
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/NotificationConfig"
          description: OK
      summary: Configuration of a single category
      tags:
      - Notifications
      x-accepts:
      - '*/*'
    put:
      operationId: setTargets
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: category
        required: true
        schema:
          enum:
          - SECURITY
          - BILLING
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TargetsRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/NotificationConfig"
          description: OK
      summary: Replace the recipients of a category
      tags:
      - Notifications
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/{domain}/transfer-lock:
    put:
      operationId: transferLock
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LockRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDetailsDto"
          description: OK
      summary: Toggle registrar transfer lock
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/{domain}/privacy:
    put:
      operationId: privacy
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDetailsDto"
          description: OK
      summary: Toggle WHOIS privacy
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/{domain}/nameservers:
    put:
      operationId: setNameservers
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NameserverRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDetailsDto"
          description: OK
      summary: "Set nameservers (custom list, or delegate to our cloud-dns)"
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/{domain}/dns:
    get:
      operationId: getRecords
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/DnsRecord"
                type: array
                default: null
          description: OK
      summary: List DNS records
      tags:
      - Domains
      x-accepts:
      - '*/*'
    put:
      operationId: setRecords
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DnsRecordsRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/DnsRecord"
                type: array
                default: null
          description: OK
      summary: Replace all DNS records
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/{domain}/contacts:
    put:
      operationId: setContacts
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactIdsRequest"
        required: true
      responses:
        "200":
          description: OK
      summary: Set registrant/admin/tech/billing contact IDs
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/projects/{projectUuid}/domains/{domain}/auto-renew:
    put:
      operationId: autoRenew
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDetailsDto"
          description: OK
      summary: Toggle auto-renew
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/credentials/{credentialUuid}:
    delete:
      operationId: delete_3
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: credentialUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a credential
      tags:
      - Credentials
      x-accepts:
      - application/json
    put:
      operationId: update_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: credentialUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Credential"
          description: OK
      summary: "Update a credential (name, notes, username, expiry)"
      tags:
      - Credentials
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/credentials/{credentialUuid}/secret:
    put:
      operationId: rotateSecret
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: credentialUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RotateSecretRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Credential"
          description: OK
      summary: Rotate the secret
      tags:
      - Credentials
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}:
    delete:
      operationId: delete_4
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - Cloud Gateways
      x-accepts:
      - application/json
    get:
      operationId: get_3
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GatewayDto"
          description: OK
      tags:
      - Cloud Gateways
      x-accepts:
      - '*/*'
    put:
      operationId: rename_2
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameGatewayRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GatewayDto"
          description: OK
      tags:
      - Cloud Gateways
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}:
    delete:
      operationId: deleteRoute_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: routeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - Cloud Gateways
      x-accepts:
      - application/json
    put:
      operationId: updateRoute_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: routeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRouteRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RouteDto"
          description: OK
      tags:
      - Cloud Gateways
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate:
    put:
      operationId: uploadCertificate_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: routeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadCertificate_request"
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RouteDto"
          description: OK
      summary: "Upload/replace your own TLS certificate (CUSTOM mode, no auto-renewal)"
      tags:
      - Cloud Gateways
      x-content-type: multipart/form-data
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/billing/limits/{serviceType}:
    put:
      operationId: setLimit
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: serviceType
        required: true
        schema:
          enum:
          - AI_INVOKE
          - AI_TRAINING_STORAGE
          - VECTORDB_STORAGE
          - VECTORDB_SEARCH
          - VECTORDB_WRITE
          - OBJECT_STORAGE_STORAGE
          - VOLUMES_STORAGE
          - VOLUMES_TRAFFIC_OUT
          - VOLUMES_MIRROR_REPLICA
          - VOLUMES_BACKUP_STORAGE
          - VOLUMES_BACKUP_OPERATION
          - CLOUDGATE_BASE
          - CLOUDGATE_BASE_DEDICATED
          - CLOUDGATE_TRAFFIC_OUT
          - CLOUDGATE_TRAFFIC_IN
          - CLOUDGATE_ROUTE
          - COMPUTE_VCPU_LC1
          - COMPUTE_VCPU_LC2
          - COMPUTE_VCPU_LC3
          - COMPUTE_VCPU_MC1
          - COMPUTE_VCPU_MC2
          - COMPUTE_VCPU_MC3
          - COMPUTE_VCPU_HC1
          - COMPUTE_RAM
          - COMPUTE_IMAGE_STORAGE
          - VM_VCPU_LC1
          - VM_VCPU_LC2
          - VM_VCPU_LC3
          - VM_VCPU_MC1
          - VM_VCPU_MC2
          - VM_VCPU_MC3
          - VM_VCPU_HC1
          - VM_RAM
          - VM_BOOT_STORAGE
          - VM_BOOT_MIRROR_REPLICA
          - REGISTRY_STORAGE
          - DOMAIN_REGISTER
          - DOMAIN_RENEW
          - DOMAIN_TRANSFER
          - DOMAIN_RESTORE
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LimitRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/BillingLimit"
          description: OK
      summary: Set the limit for a service
      tags:
      - Billing
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/billing/auto-recharge:
    get:
      operationId: getAutoRecharge
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AutoRechargeConfig"
          description: OK
      summary: Auto-recharge configuration of the project
      tags:
      - Billing
      x-accepts:
      - '*/*'
    put:
      operationId: setAutoRecharge
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRechargeRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AutoRechargeConfig"
          description: OK
      summary: Configure auto-recharge. Requires a saved payment method (created on
        the first top-up).
      tags:
      - Billing
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/billing-profile:
    get:
      operationId: getBillingProfile
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/BillingProfileDto"
          description: OK
      summary: "Billing profile of the project (company, VAT ID, address, contact)"
      tags:
      - Cloud Projects
      x-accepts:
      - '*/*'
    put:
      operationId: updateBillingProfile
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingProfileRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CloudProject"
          description: OK
      summary: Update the billing profile of the project (company/VAT ID/address/contact)
      tags:
      - Cloud Projects
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/api-keys/{apiKeyUuid}:
    delete:
      operationId: revoke
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: apiKeyUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Revoke an API key
      tags:
      - API Keys
      x-accepts:
      - application/json
    put:
      operationId: rename_3
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: apiKeyUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiKeyDto"
          description: OK
      summary: Rename an API key
      tags:
      - API Keys
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/api-keys/{apiKeyUuid}/permissions:
    put:
      operationId: updatePermissions_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: apiKeyUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PermissionsRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiKeyDto"
          description: OK
      summary: Change the permissions of an API key
      tags:
      - API Keys
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/ai/{aiUuid}:
    delete:
      operationId: delete_5
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: aiUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete an AI including its training data
      tags:
      - Artificial Intelligence
      x-accepts:
      - application/json
    put:
      operationId: rename_4
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: aiUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DeployedAi"
          description: OK
      summary: Rename an AI
      tags:
      - Artificial Intelligence
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/ai/{aiUuid}/training/{entryUuid}:
    delete:
      operationId: deleteTraining
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: aiUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entryUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a training entry
      tags:
      - Artificial Intelligence
      x-accepts:
      - application/json
    put:
      operationId: updateTraining
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: aiUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entryUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrainingRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TrainingEntry"
          description: OK
      summary: Update a training entry
      tags:
      - Artificial Intelligence
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/me/onboarding:
    get:
      operationId: status
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OnboardingStatusDto"
          description: OK
      security:
      - session: []
      summary: Current profile setup and onboarding status
      tags:
      - Onboarding
      x-accepts:
      - '*/*'
    put:
      operationId: save
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OnboardingRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OnboardingStatusDto"
          description: OK
      security:
      - session: []
      summary: Save profile data; creates the user on first onboarding
      tags:
      - Onboarding
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/me/legal/accept:
    put:
      operationId: acceptLegal
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/LegalAcceptResultDto"
          description: OK
      security:
      - session: []
      summary: Accept the current legal version (versioned re-accept gate)
      tags:
      - Onboarding
      x-accepts:
      - '*/*'
  /api/v1/account:
    delete:
      operationId: deleteAccount
      parameters:
      - explode: true
        in: query
        name: confirmEmail
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: Irreversibly delete your own account (with email confirmation)
      tags:
      - Account
      x-accepts:
      - '*/*'
    put:
      operationId: updateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: "Edit your own account (display name). Email = Google identity, not\
        \ changeable."
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/account/profile:
    put:
      operationId: updateProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountProfileRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: Change the personal address of your own account (NOT the billing address
        — that is per project)
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/account/locale:
    put:
      operationId: updateLocale
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLocaleRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: Save the preferred language (controls the language of system emails)
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /data/v1/ai/v1/chat/completions:
    post:
      operationId: chatCompletion
      parameters:
      - explode: false
        in: header
        name: X-Cloudgate-Target-Resource
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Cloudgate-Route
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatResponse"
          description: OK
      summary: Classification (OpenAI Chat Completions compatible)
      tags:
      - "Data-Plane: AI"
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v2/projects/{projectUuid}/cloudgates:
    get:
      operationId: list
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/GatewayDtoV2"
                type: array
                default: null
          description: OK
      tags:
      - Cloud Gateways v2
      x-accepts:
      - '*/*'
    post:
      operationId: create
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGatewayRequestV2"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GatewayDtoV2"
          description: OK
      tags:
      - Cloud Gateways v2
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes:
    get:
      operationId: listRoutes
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/RouteDtoV2"
                type: array
                default: null
          description: OK
      tags:
      - Cloud Gateways v2
      x-accepts:
      - '*/*'
    post:
      operationId: createRoute
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRouteRequestV2"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RouteDtoV2"
          description: OK
      tags:
      - Cloud Gateways v2
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v2/projects/{projectUuid}/cloudgates/{gatewayUuid}/routes/{routeUuid}/certificate/managed:
    post:
      operationId: useManagedCertificate
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: gatewayUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: routeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RouteDtoV2"
          description: OK
      summary: Switch back to a managed Let's Encrypt certificate (with auto-renewal)
      tags:
      - Cloud Gateways v2
      x-accepts:
      - '*/*'
  /api/v1/public/looking-glass/check:
    post:
      operationId: check
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: Latency measurement (uplink/downlink/ping) to a public remote IP. 1
        measurement per 5s per IP; reloading during the cooldown extends it.
      tags:
      - Looking Glass
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects:
    get:
      operationId: list_1
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/CloudProject"
                type: array
                default: null
          description: OK
      summary: All projects of the user
      tags:
      - Cloud Projects
      x-accepts:
      - '*/*'
    post:
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CloudProject"
          description: OK
      summary: Create a new project
      tags:
      - Cloud Projects
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes:
    get:
      operationId: list_2
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/VolumeDto"
                type: array
                default: null
          description: OK
      summary: List the volumes of the project
      tags:
      - Cloud Volumes
      x-accepts:
      - '*/*'
    post:
      operationId: create_2
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVolumeRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeDto"
          description: OK
      summary: Create a volume (with mandatory encryption + hidden shadow replica)
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/users:
    get:
      operationId: listUsers
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/VolumeUserDto"
                type: array
                default: null
          description: OK
      tags:
      - Cloud Volumes
      x-accepts:
      - '*/*'
    post:
      operationId: createUser
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VolumeUserDto"
          description: OK
      tags:
      - Cloud Volumes
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/snapshots:
    get:
      operationId: list_3
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/SnapshotInfo"
                type: array
                default: null
          description: OK
      summary: List the snapshots of a volume
      tags:
      - Volume Snapshots
      x-accepts:
      - '*/*'
    post:
      operationId: create_3
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSnapshotRequest"
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      summary: Create a manual snapshot (e.g. before a risky operation)
      tags:
      - Volume Snapshots
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/snapshots/{snapshotName}/restore:
    post:
      operationId: restore
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: snapshotName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      summary: In-place revert to a snapshot — the volume is briefly unavailable
      tags:
      - Volume Snapshots
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/upload:
    post:
      operationId: upload
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: path
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: overwrite
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/upload_request"
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FileEntry"
          description: OK
      summary: Upload a file (multipart)
      tags:
      - Cloud Volumes — File Browser
      x-content-type: multipart/form-data
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/rename:
    post:
      operationId: rename_5
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FileEntry"
          description: OK
      summary: Rename or move a file/directory
      tags:
      - Cloud Volumes — File Browser
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/files/mkdir:
    post:
      operationId: mkdir
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: path
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FileEntry"
          description: OK
      summary: Create a directory
      tags:
      - Cloud Volumes — File Browser
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups:
    get:
      operationId: list_4
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/BackupInfo"
                type: array
                default: null
          description: OK
      summary: List the backups of a volume
      tags:
      - Volume Backups
      x-accepts:
      - '*/*'
    post:
      operationId: create_4
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBackupRequest"
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      summary: Create an incremental backup
      tags:
      - Volume Backups
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/volumes/{volumeUuid}/backups/{backupName}/restore:
    post:
      operationId: restore_1
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: volumeUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: backupName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      summary: Restore a backup into a NEW volume (includes a 3% restore fee)
      tags:
      - Volume Backups
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines:
    get:
      operationId: list_5
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/VirtualMachineDto"
                type: array
                default: null
          description: OK
      summary: List the VMs of the project
      tags:
      - Virtual Machines
      x-accepts:
      - '*/*'
    post:
      operationId: create_5
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Create a VM
      tags:
      - Virtual Machines
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/stop:
    post:
      operationId: stop
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Stop a VM
      tags:
      - Virtual Machines
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/start:
    post:
      operationId: start
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Start a VM
      tags:
      - Virtual Machines
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/reinstall:
    post:
      operationId: reinstall
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Reinstall a VM (overwrite the OS image)
      tags:
      - Virtual Machines
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups:
    get:
      operationId: list_6
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/BackupInfo"
                type: array
                default: null
          description: OK
      summary: List the VM boot-disk backups
      tags:
      - VM Backups
      x-accepts:
      - '*/*'
    post:
      operationId: create_6
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBackupRequest"
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      summary: Create an incremental backup of the VM boot disk
      tags:
      - VM Backups
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/backups/{backupName}/restore:
    post:
      operationId: restore_2
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: backupName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      summary: Restore a VM boot backup into a NEW volume (includes a 3% restore fee)
      tags:
      - VM Backups
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/virtual-machines/{vmUuid}/apply-resize:
    post:
      operationId: applyResize
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: vmUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VirtualMachineDto"
          description: OK
      summary: Apply a pending resize by restarting
      tags:
      - Virtual Machines
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/transfer:
    post:
      operationId: transfer
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferRequest"
        required: true
      responses:
        "200":
          description: OK
      summary: Transfer ownership
      tags:
      - Cloud Projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/projects/{projectUuid}/roles:
    get:
      operationId: list_7
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/Role"
                type: array
                default: null
          description: OK
      summary: All roles of the project
      tags:
      - Roles
      x-accepts:
      - '*/*'
    post:
      operationId: create_7
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Role"
          description: OK
      summary: Create a role
      tags:
      - Roles
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/roles/{roleUuid}/assignments/{userUuid}:
    delete:
      operationId: unassign
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Remove a role from a user
      tags:
      - Roles
      x-accepts:
      - application/json
    post:
      operationId: assign
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Assign a role to a user
      tags:
      - Roles
      x-accepts:
      - application/json
  /api/v1/projects/{projectUuid}/networks:
    get:
      operationId: list_8
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/TenantNetworkDto"
                type: array
                default: null
          description: OK
      summary: Netzwerke des Projekts auflisten
      tags:
      - Tenant Networks
      x-accepts:
      - '*/*'
    post:
      operationId: create_8
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TenantNetworkDto"
          description: OK
      summary: Ein Netzwerk anlegen
      tags:
      - Tenant Networks
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/networks/{networkUuid}/attachments:
    get:
      operationId: listAttachments
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: networkUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  format: uuid
                  type: string
                type: array
                default: null
          description: OK
      summary: Angehaengte VMs eines Netzwerks auflisten
      tags:
      - Tenant Networks
      x-accepts:
      - '*/*'
    post:
      description: "Eine VM ist in HOECHSTENS einem Netz. Haengt die VM schon in einem\
        \ anderen Netz, wird sie dorthin VERSCHOBEN (erst aus dem alten getrennt,\
        \ dann ins neue gehaengt) — danach ist sie in genau diesem Netz. Idempotent,\
        \ wenn sie schon hier haengt. Doppelter IDOR-Guard (Netz UND VM muessen zum\
        \ Pfad-Projekt gehoeren). KubeVirt uebernimmt das geaenderte Secondary-Interface\
        \ erst beim VMI-Neustart → restartRequired=true signalisiert 'pending restart'."
      operationId: attach
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: networkUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AttachmentDto"
          description: OK
      summary: Eine VM in das Netzwerk haengen (MOVE-Semantik)
      tags:
      - Tenant Networks
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/leave:
    post:
      operationId: leave
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: "Leave a project (remove your own membership, non-owners only)"
      tags:
      - Cloud Projects
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/invitations:
    get:
      operationId: list_9
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/InvitationDto"
                type: array
                default: null
          description: OK
      summary: Pending/completed invitations of the project (admin)
      tags:
      - Invitations
      x-accepts:
      - '*/*'
    post:
      operationId: create_9
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/InvitationDto"
          description: OK
      summary: Invite someone to the project — the invitee is notified by account
        email
      tags:
      - Invitations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains:
    get:
      operationId: list_10
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/DomainDto"
                type: array
                default: null
          description: OK
      summary: List the project's registered domains
      tags:
      - Domains
      x-accepts:
      - '*/*'
    post:
      operationId: register
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDto"
          description: OK
      summary: Register a domain (charged after success)
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/{domain}/restore:
    post:
      operationId: restore_3
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDto"
          description: OK
      summary: Restore a redemption domain (expensive — charged after success)
      tags:
      - Domains
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/{domain}/renew:
    post:
      operationId: renew
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDto"
          description: OK
      summary: Renew a domain (charged after success)
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/transfer:
    post:
      operationId: transferIn
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferInRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DomainDto"
          description: OK
      summary: Transfer-in a domain with auth code (charged after transfer completes)
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/domains/contacts:
    get:
      operationId: listContacts
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/ContactProfileDto"
                type: array
                default: null
          description: OK
      summary: List the project's reusable contact profiles
      tags:
      - Domains
      x-accepts:
      - '*/*'
    post:
      operationId: createContact
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainContactImpl"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ContactProfileDto"
          description: OK
      summary: Create a reusable contact profile → contactId
      tags:
      - Domains
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/credentials:
    get:
      operationId: list_11
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PagedResponseCredential"
          description: OK
      summary: All credentials of the project (paginated)
      tags:
      - Credentials
      x-accepts:
      - '*/*'
    post:
      operationId: create_10
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Credential"
          description: OK
      summary: Create a credential
      tags:
      - Credentials
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/v1/projects/{projectUuid}/cloudgates:
    get:
      operationId: list_12
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/GatewayDto"
                type: array
                default: null
          description: OK
      tags:
      - Cloud Gateways
      x-accepts:
      - '*/*'
    post:
      operationId: create_11
      parameters:
      - explode: false
        in: path
        name: projectUuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGatewayRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/GatewayDto"
[...]
